/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 14, 2015, 12:56:29 PM
    Author     : Eeliya
*/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700);

html,body{
   font-family: 'Open Sans', sans-serif;
   padding:0px;
   font-size:1.2em;
   height: 100%;   
}

body {
   position: relative;
   background-color: #fafafa;
}

.block.header{padding:15px;border-bottom:1px solid #222;min-height:70px;box-shadow:0px 0px 15px rgba(0,0,0,.2);}
.container {
   width:100%;
   padding-bottom: 100px;
}
.block.section{padding:0px;}
.section p{font-size:1.2em;font-weight:300;}
.block.footer {
   background-color:#ddd;
   padding:15px;
   min-height:100px;
   position: absolute;
   bottom: 0;
   width: 100%;
   font-size: .8em;
   color:#555;
}

.block.footer p {
   margin: 5px 0;
}

.section.box, .panel.box, .widget.box {
   background-color: #fff;
   border:2px solid #222;
   padding:15px;
   box-shadow:0px 2px 3px rgba(0,0,0,.2);
}

.panel.section{border:0px solid #222;border-width:0px 1px;padding:30px 15px 10px 15px;}

.widget.menu-bar{} 
.menu-bar ul{list-style:none;margin:0px;overflow:hidden;}
.menu-bar li{float:left;margin-right:10px;}
.menu-bar li.active a,.menu-bar a.active{border-color:#222;}
.menu-bar a{display:block;padding:5px 15px;line-height:30px;border-radius:22px;border:2px solid transparent;color:#222;}
.menu-bar a:hover{background-color:#ddd;}

.widget.list{}
.list ul{list-style:none;padding:0px;margin:0px;}
.list li{display:block;}
.list a{display:block;line-height:30px;padding:5px 10px;margin-bottom:5px;color:#006699;border-radius:2px;}
.list li:last-child a{margin-bottom:0px;}
.list a:hover{background-color:#cff6ff}
.list .active a{font-weight:bold;}

.widget.ta-center {
   text-align: center;
}

.widget.image img{display:block;width:100%;margin:15px 0px;box-shadow:0px 2px 3px rgba(0,0,0,.2);}

.widget.timer {
   text-align: center;
   margin: 30px 0;
}

.timer .days-wrapper,
.timer .hours-wrapper,
.timer .minutes-wrapper,
.timer .seconds-wrapper {
   display: inline-block;
   width: 160px;
   height: 160px;
   margin: 0 10px;
   text-align: center;
   color: #fff;/* browsers that don't support rgba */
   /* background: rgba(45,45,45,.7); */
   font-size: 18px;
   -moz-border-radius: 80px;
   -webkit-border-radius: 80px;
   border-radius: 80px;
   box-shadow: 0 3px 5px rgba(0,0,0,.12), 0 1px 14px rgba(0,0,0,.16);
   position: relative;
   z-index: 1;
}

.timer .days-wrapper:after,
.timer .hours-wrapper:after,
.timer .minutes-wrapper:after,
.timer .seconds-wrapper:after{
   content: '';
   position: absolute;
   width: 100%;
   height: 100%;
   background-color: inherit;
   left: 0;
   top: 0;
   border-radius: inherit;
   z-index: -1;
}

.timer .days-wrapper{
   background-color: #33ccff;
}
.timer .hours-wrapper{
   background-color: #94d100;
}
.timer .minutes-wrapper{
   background-color: #ff7200;
}

.timer .seconds-wrapper{
   background-color: #111;
}

.timer .seconds-wrapper:after{
   animation: ripple 1s infinite;   
}

.timer .days-wrapper:hover,
.timer .hours-wrapper:hover,
.timer .minutes-wrapper:hover,
.timer .seconds-wrapper:hover {
   /* background: #e75967 url(../img/pattern-2.png); */
   text-shadow: none;
}

.timer .days,
.timer .hours,
.timer .minutes,
.timer .seconds {
   display: block;
   font-size: 80px;
   line-height: 80px;
   margin-top: 30px;
   margin-bottom: -30px;
   position: relative;
}


@keyframes ripple {
   from {
      transform:scale(1); 
   }
   
   to {
      transform: scale(1.5);
      opacity:0;
   }
}