/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 14, 2015, 12:56:29 PM
    Author     : Eeliya
*/
@import url(http://fonts.googleapis.com/css?family=Raleway:400,300,700);

html,body{font-family: 'Raleway', sans-serif;padding:0px;font-size:1.2em;}
.block.header{padding:15px;border-bottom:1px solid #222;min-height:70px;box-shadow:0px 0px 15px rgba(0,0,0,.2);}
.container{width:100%;min-height:100%}
.block.section{padding:0px;}
.section p{font-size:1.2em;font-weight:300;}
.block.footer{background-color:#ccc;padding:15px;min-height:160px;}
.section.box, .panel.box, .widget.box{border:2px solid #222;padding:15px;box-shadow:0px 2px 3px rgba(0,0,0,.2);}

.panel.section{border:0px solid #222;border-width:0px 1px;padding:30px 15px 10px 15px;}

.widget.menu-bar{} 
.menu-bar ul{list-style:none;margin:0px;overflow:hidden;}
.menu-bar li{float:left;margin-right:10px;}
.menu-bar li.active a,.menu-bar a.active{border-color:#222;}
.menu-bar a{display:block;padding:5px 15px;line-height:30px;border-radius:22px;border:2px solid transparent;color:#222;}
.menu-bar a:hover{background-color:#ddd;}

.widget.list{}
.list ul{list-style:none;padding:0px;margin:0px;}
.list li{display:block;}
.list a{display:block;line-height:30px;padding:5px 10px;margin-bottom:5px;color:#006699;border-radius:2px;}
.list li:last-child a{margin-bottom:0px;}
.list a:hover{background-color:#cff6ff}
.list .active a{font-weight:bold;}

.widget.image img{display:block;width:100%;margin:15px 0px;box-shadow:0px 2px 3px rgba(0,0,0,.2);}