@font-face {
    font-family: 'si';
    src: url('../templates/orange-milk/fonts/socicon.eot');
    src: url('../templates/orange-milk/fonts/socicon.eot?#iefix') format('embedded-opentype'),
         url('../templates/orange-milk/fonts/socicon.woff') format('woff'),
         url('../templates/orange-milk/fonts/socicon.ttf') format('truetype'),
         url('../templates/orange-milk/fonts/socicon.svg#icomoonregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family:si;
        src: url(../templates/orange-milk/fonts/socicon.svg) format(svg);
    }
}