/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 21, 2016, 11:47:41 AM
    Author     : Eeliya
*/
/*@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,700);*/

@font-face {
  font-family: 'FarNazaninBold';
  src: url('fonts/FarNazaninBold.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FarNazaninBold';
  src:  url(data:application/x-font-woff;charset=utf-8;base64,) format('woff'), url('fonts/FarNazaninBold.ttf')  format('truetype'), url('fonts/FarNazaninBold.svg#FarNazaninBold') format('svg');
  font-weight: normal;
  font-style: normal;
}

$background-color: #fff;
$akcent-background-color: #eee;
$item-background-color: #222;
$font-color: #444;
//$font-akcent-color: #f50808;
//$font-akcent-color: #0BB4D1;
//$font-akcent-color: #FE9322;
$font-akcent-color: #69C923;
$font-akcent-color-dark: #59B913;
$nav-bar-bg: rgba(255,255,255,.82);

@import 'blocks.scss';
@import 'widgets.scss';

@media (min-width: 320px) {
  .block.nav-bar {
    background-color: $nav-bar-bg;
    height: 50px;
    margin: 0px 0;
    display: block;
    position: absolute;
    top: 0;
    z-index: 10;
  }

  .widget {
    &.nav-menu {
      white-space: nowrap;
      font-size: .9em;
      overflow: scroll;

      &.right {
        text-align: right;

        li {
        }
      }

      li {
        display: inline-block;
      }

      a {
        color: $font-color;
        font-weight: normal;
        padding: 0 15px;
        line-height: 40px;
        display: block;
      } 
    }
  }
}

@media (min-width: 768px) {
  .block.nav-bar {
    height: 80px;
  }

  .panel.section {
    width: 720px;  
  }

  .widget {
    &.nav-menu {
      font-size: 1.2em;
      overflow: hidden;

      &.right {
        float: right;

        li {
          float: right;
        }
      }

      li {
        float: left;
      }

      a {
        line-height: 50px;
        padding: 15px;
      } 
    }
  }
}

@media (min-width: 992px) {

  .panel.section {
    width: 940px;  
  }
}

@media (min-width: 1360px) {

  .panel.section {
    width: 1200px;  
  }
}

body {
  font-family: 'Roboto', 'FarNazaninBold';
  font-size: 17px;
  position: relative;
}

.content-box {
  padding: 0;
  margin: 0;
}

.container {
  overflow: hidden;
  width: 100%;
}

.panel.clearfix {
  margin: 0 auto;
}

.panel.section {
}

.slider .owl-controls {
  margin: 0;
  margin-top: -30px;
  height: 30px;
  position: relative;
  z-index: 10;
}

.slider .owl-stage-outer {
  height: 100% !important;    
}

.slider .owl-carousel, .slider .owl-stage, .slider .owl-item {
  height: 100%;
}

.slider img {
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  position: absolute;
}

.rtl {
  h2 {    
    text-align: right;
  }
}

.people:before {

  content: '';
  position: absolute;
  background-color: #fff;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  transition: all .3s;
  z-index: 0;
  margin-left: -100px;
  left: 50%;
  top: 35px;
  box-shadow: 0 3px 5px rgba(0,0,0,.1), 0 5px 9px rgba(0,0,0,.1);    
}

.people:hover:before {
  width: 100%;
  height: 100%;
  border-radius: 16px;
  margin-left: 0;
  left: 0;
  top: 0;
}

.people:hover img {
  transform: scale(1.2);
}

.block-row {
  display: block;
}

.block-row:before,.block-row:after{
  content: " ";
  display: table;
}

.block-row:after {
  clear: both;
}