/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 21, 2016, 11:47:41 AM
    Author     : Eeliya
*/
/*@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,700);*/

@font-face {
  font-family: 'FarNazaninBold';
  src: url('fonts/FarNazaninBold.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FarNazaninBold';
  src:  url(data:application/x-font-woff;charset=utf-8;base64,) format('woff'), url('fonts/FarNazaninBold.ttf')  format('truetype'), url('fonts/FarNazaninBold.svg#FarNazaninBold') format('svg');
  font-weight: normal;
  font-style: normal;
}

$background-color: #fff;
$akcent-background-color: #eee;
$item-background-color: #222;
$font-color: #444;
//$font-akcent-color: #f50808;
//$font-akcent-color: #0BB4D1;
//$font-akcent-color: #FE9322;
$font-akcent-color: #00a651;
/*$font-akcent-color: #0599EF;*/
/*$font-akcent-color-dark: #0C81C5;*/
$font-akcent-color-dark: #04C160;
$nav-bar-bg: rgba(255,255,255,.9);

@import 'blocks.scss';
@import 'widgets.scss';

@media (min-width: 320px) {
  .block.nav-bar {
    background-color: $nav-bar-bg;
    height: 50px;
    margin: 0px 0;
    display: block;
    position: absolute;
    top: 0;
    z-index: 10;
  }

  .panel {
    &.section {
    }

    &.article {
      background-color: #fff;
      padding: 0;      
      padding-bottom: 20px;
      border: 0 solid rgba(0,0,0,.18);
      background-clip: padding-box; 
      overflow: hidden;
      border-width: 1px 0;
      box-shadow: 0 3px 5px rgba(0,0,0,.1), 0 8px 14px rgba(0,0,0,.14); 

      p, h1, h2, h3 {
        padding-left: 50px;
        padding-right: 50px;
      }


      .widget-container {
        padding: 0;
      }

      img {
        width: 100%;
        margin: 0px auto;
        display: block;

        &:first-child {
          margin: 0;
          margin-bottom: 30px;
        }
      }
    }
  }

  .widget {
    &.nav-menu {
      white-space: nowrap;
      font-size: .9em;
      overflow: scroll;

      &.right {
        text-align: right;

        li {
        }
      }

      li {
        display: inline-block;
      }

      a {
        color: $font-color;
        font-weight: normal;
        padding: 0 15px;
        line-height: 40px;
        display: block;
      } 
    }
  }
}

@media (min-width: 768px) {
  .block.nav-bar {
    height: 80px;
  }

  .panel {
    &.section {
      width: 720px;  
    }

    &.article {
      width: 720px;
      padding: 0;
      padding-bottom: 30px;
      border-width: 0px;
      border-radius: 5px;

      p, h1, h2, h3 {
        padding-left: 60px;
        padding-right: 60px;
      }

      img {
        &:first-child {
          margin-bottom: 30px;
        }
      }
    }
  }

  .widget {
    &.nav-menu {
      font-size: 1.2em;
      overflow: hidden;

      &.right {
        float: right;

        li {
          float: right;
        }
      }

      li {
        float: left;
      }

      a {
        line-height: 50px;
        padding: 15px;
      } 
    }
  }
}

@media (min-width: 992px) {

  .panel{
    &.section {
      width: 940px;  
    }

    &.article {
      width: 860px;
      padding: 0;
      padding-bottom: 60px;

      p, h1, h2, h3 {
        padding-left: 80px;
        padding-right: 80px;
      }

      img {
        &:first-child {
          margin: 0;
          margin-bottom: 60px;
        }
      }
    }
  }

}

@media (min-width: 1360px) {

  .panel {
    &.section {
      width: 1200px; 


    }

    &.article {
      width: 860px;  



      .widget {

      }
    }
  }
}

body {
  font-family: 'Roboto', 'FarNazaninBold';
  font-size: 17px;
  position: relative;
  background-color: #e0e0e0;
}

.content-box {
  padding: 0;
  margin: 0;
}

.container {
  background-color: #fafafa;
  overflow: hidden;
  width: 100%;
  min-height: 100vh;
  //box-shadow: 0 0 60px rgba(0, 0, 0, 0.25);
  margin: 0 auto;
}

.panel {
  display: block;

  &:before, &:after{
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
  }
}



.panel.clearfix {
  margin: 0 auto;
}

.panel.section {
}

.slider .owl-controls {
  margin: 0;
  margin-top: -30px;
  height: 30px;
  position: relative;
  z-index: 10;
}

.slider .owl-stage-outer {
  height: 100% !important;    
}

.slider .owl-carousel, .slider .owl-stage, .slider .owl-item {
  height: 100%;
}

.slider img {
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  position: absolute;
}

.rtl {

}

/*.people:before {

  content: '';
  position: absolute;
  background-color: #fff;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  transition: all .3s;
  z-index: 0;
  margin-left: -100px;
  left: 50%;
  top: 35px;
  box-shadow: 0 3px 5px rgba(0,0,0,.1), 0 5px 9px rgba(0,0,0,.1); 
  display:none;
}

.people:hover:before {
  width: 280px;
  height: 280px;
  border-radius: 100%;
  margin-left: -140px;
  left: 50%;
  top: 0;
}*/

.people:hover img {
  transform: scale(1.2);
}

.block-row {
  display: block;
}

.block-row:before,.block-row:after{
  content: " ";
  display: table;
}

.block-row:after {
  clear: both;
}

.ew-hidden {
  display: none;
}

.text-left {
  text-align: left;
}

.text-right{
  text-align: right;
}

.text-center {
  text-align: center;
}

.btn-all-events {
  background-color: transparent;
  border-radius: 6px;
  line-height: 30px;
  padding: 15px 60px;
  margin: 0 auto;
  font-size: 1.1em;
  color: $font-akcent-color;
  display: inline-block;
  margin-top: 35px;
  border: 2px solid $font-akcent-color;

  &:hover {
    background-color: $font-akcent-color;
    color:#fff;
  }
}