/* 
    Created on : Mar 22, 2016, 8:16:59 PM
    Author     : Eeliya
*/

@mixin list-footer() {
  .list-footer {
    margin: 0;
    margin-top: 15px;
    background-color: #eee;
    padding: 15px 0;
    border-radius: 4px;
    height: 80px;

    .btn {
      background-repeat: no-repeat !important;
      background-position: center center !important;
      font-size: 1em;
      background-color: $font-akcent-color;
      width: 50px;
      height: 50px;
      line-height: 50px;
      padding: 0;
      float: left;
      margin: 0;
      border-radius: 25px;
      box-shadow: 0 1px 3px rgba(0, 0, 0, .1), 0 4px 7px rgba(0, 0, 0, .1);
      overflow: hidden;
      color: transparent;
    }

    .btn-prev {
      background-image: url(images/icon-arrow-left.png) !important;
    } 

    .btn-next {
      background-image: url(images/icon-arrow-right.png) !important;
      float: right;
    }
  }

  &.rtl {   
    .list-footer {
      .btn-prev {      
        background-image: url(images/icon-arrow-right.png) !important;
        float: right;
      } 

      .btn-next {
        background-image: url(images/icon-arrow-left.png) !important;
        float: left;
      }
    }
  }
}

.widget {
  &.logo {
    float: left;

    img {
      width: auto;
      height: 70px;
      margin: 5px 0;
    }
  }

  &.slider {
    margin: 0px -15px 0;
    padding-top: 80px;
    height: 100vh;
    position: relative;

    .item {
      padding-top: 200px;
      overflow: hidden;
      direction: rtl;

      h2 {
        font-size: 3em;
        color: #fff;        
        width: 100%;
        margin: 0 auto;
        max-width: 1280px;
        text-align: center;
        text-shadow: 0 2px 7px rgba(0,0,0,.9), 0 -2px 1px rgba(0,0,0,.3);
        position: relative;
        z-index: 2;
      }

      .second-img {
        position: relative;
        z-index: 10;
        display: block;
        margin: 50px auto;
        max-width: 100%;
        width: auto;
        height: auto;
      }
    }

    .owl-dot {
      &.active {
        span {
          background-color: $font-akcent-color;
        }
      }
    }
  }

  &.important-event {
    height: 475px;
    background-color: #fff;
    box-shadow: 0 3px 7px rgba(0,0,0,0.18),0 9px 15px rgba(0,0,0,0.18);
    overflow: hidden;
    border-radius: 5px;

    img {
      width: 100%;
      margin: 0 auto;
      height: 100%;
      display: block;
    }   

    @media (min-width: 768px) {
      margin-bottom: 45px;
    }    

    @media (min-width: 992px) {
      height: 360px;
      margin-bottom: 15px;
      margin-bottom: 0;
    }

    @media (min-width: 1360px) {
      height: 475px;
    }
  }

  &.events-list { 
    .owl-carousel {
      .owl-stage-outer{
        @media (min-width: 992px) {
          padding: 0;
        }

        @media (min-width: 1360px) {
          padding: 15px 0;
        }
      }

      .item {
        color: $font-color;
        height: 355px;
        background-color: transparent;
        overflow: hidden;
        margin: 0 15px 15px;
        /*box-shadow: 0 2px 6px rgba(0,0,0,0.1),0 6px 9px rgba(0,0,0,0.1);*/
        position: relative;
        border-right: 1px solid #aaa;


        @media (min-width: 992px) {
          height: 270px;
          font-size: .73em;
        }


        @media (min-width: 1360px) {
          height: 355px;
          font-size: 1em;
        }

        h2, p {
          padding: 15px;
          font-weight: 300;
          margin: 0;

          &.title {
            font-size: 18px;

            @media (min-width: 992px) {
              font-size: 15px;
            }
          }

          &.date {           
            background-color: #123321;
            color: #fff;
            width: 110px;
            height: 110px;
            border-radius: 5px;
            margin: 15px;
            display: block;
            padding: 10px;
            font-size: 40px;
            text-align: center;

            b {
              font-size: 30px;
              display: block;
            }

            @media (min-width: 992px) {
              font-size: 52px;
              line-height: 46px;
            }

            @media (min-width: 1360px) {
              font-size: 52px;
              line-height: 46px;
            }
          }
        }

        img {
          width: 100%;
          margin: 0 auto;
          height: auto;
          max-height: 250px;
        }
      }

      .owl-prev, .owl-next  {
        background-repeat: no-repeat !important;
        background-position: center center !important;
        font-size: 2em;
        background-color: $font-akcent-color;
        width: 50px;
        height: 50px;
        line-height: 50px;
        padding: 0;
        float: left;
        margin: 0 15px;
        border-radius: 25px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, .1), 0 4px 7px rgba(0, 0, 0, .1);
      }

      .owl-prev {
        background-image: url(images/icon-arrow-left.png) !important;
      } 

      .owl-next {
        background-image: url(images/icon-arrow-right.png) !important;
        float: right;
      }      

      .owl-prev:hover, .owl-next:hover {
        background-color: $font-akcent-color-dark;
      }

      .owl-prev:active, .owl-next:active {
        background-color: #111;
      }
    }

    &.rtl {
      .owl-carousel {
        .owl-stage-outer{
          direction: ltr;
        }

        .item {
          direction: rtl;
        }
      }
    }
  }

  &.list {
    font-size: 19px;
    margin: 0 -15px;

    .list-content {
      margin: 0;
    }

    .list-item {


      .list-item-cell {        
        overflow: hidden;
        padding: 15px 0;
      }

      & + .list-item {
        margin-top: 5px;
        border-top: 2px solid rgba(0,0,0,.1);
      }

      .front-image {
        float: left;
        max-height: 1756x;
        max-width: 200px;
        margin-right: 20px;
      }

      .title {
        font-size: 1.33em;
        margin: 0;        
        font-weight: 500;
      }

      .\@content\/date-created , .\@post\/date-published {
        font-size: .9em;
        font-weight: 500;
        color:#aaa;
        margin: 0;
        margin-top: 5px;
      }

      .short-text {
        margin: 15px 0;
        font-size: 1em;
        font-weight: 300;
      }

      .item-link {
        color: $font-akcent-color;
        border: 1px solid $font-akcent-color;
        font-size: 16px;
        border-radius: 4px;
        padding: 8px 16px;
        float: right;
        margin-top: 15px;

        &:hover {
          background-color: $font-akcent-color;
          color: #fff;
        }

        &:active {
          background-color: $font-akcent-color-dark;
          color: #fff;
        }
      }
    }

    &.rtl {
      .list-item {
        .front-image {
          float: right;
          margin-right: 0;
          margin-left: 20px;
        }

        .item-link {
          float: left;
        }
      }
    }

    @include list-footer();
  }

  &.cards {
    font-size: 19px;

    .list-content {
      display: flex;
      overflow: hidden;
      flex-wrap: wrap;
    }

    .list-item {
      flex: 1 0 50%;
      justify-content: center;
      display: flex;

      @media (min-width: 320px) {
        flex: 1 0 100%;
      }

      @media (min-width: 768px) {
        flex: 1 0 100%;
      }   

      @media (min-width: 992px) {
        flex: 1 0 50%;
      }

      .list-item-cell {
        max-width: 370px;
        width: 100%;
        position: relative;
        border-radius: 3px;
        background-color: #fff;
        padding: 0; 
        padding-bottom: 48px;
        overflow: hidden;
        margin-bottom: 30px;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        transition: all 0.2s ease-in-out;  

        &:hover {
          box-shadow: 0 10px 20px rgba(0,0,0,0.15), 0 6px 6px rgba(0,0,0,0.19);
        }

        p, h1, h2, h3 {
          padding: 0 15px;
        }
      }      

      .front-image {
        float: none;
        display: block; 
        max-width: 100%;
      }

      .item-link {
        border-radius: 0;
        position: absolute;
        bottom: 0;
        right: 0;
        border: 0px solid $font-akcent-color;
        border-width: 1px 0 0 1px;
        border-top-left-radius: 5px;       
        color: $font-akcent-color;
        padding: 10px 30px;
        max-width: 350px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;

        &:hover {
          background-color: $font-akcent-color;
          color: #fff;
        }

        &:active {
          background-color: $font-akcent-color-dark;
          color: #fff;
        }

      }
    }

    &.rtl {
      .list-item {
        .front-image {
        }

        .item-link {
          right: auto;
          left: 0;
          border-width: 1px 1px 0 0;
          border-radius: 0;
          border-top-right-radius: 5px;
        }
      }
    }

    @include list-footer();
  }

  &.audio-player {
    > .audiojs {
      background: none;
      background-color: transparent;
      overflow: visible;
      height: 80px;
      width: 100%;
      max-width: 800px;
      margin: 15px auto;
      box-shadow: none;
      color: $font-color;
      position: relative;

      div {
        height: 80px;
        line-height: 60px;
        padding: 10px;
        color: $font-color;
        border: none;
        text-shadow: none;
      }

      .play-pause {
        background-color: $font-akcent-color;
        border-radius: 100%;
        width: 80px;
        height: 80px;
        box-shadow: 0 1px 3px rgba(0,0,0,0.1),0 4px 7px rgba(0,0,0,0.1);
      }

      .scrubber {
        background: none transparent;
        height: 20px;
        margin-top: 30px;
        border-radius: 10px;
        position: absolute;
        left: 80px;
        right: 120px;
        width: auto;
        box-shadow: 0 1px 3px rgba(0,0,0,0.1),0 4px 7px rgba(0,0,0,0.1);

        .progress {
          height: inherit;
          background: none $font-akcent-color;
          border-radius: 10px;
        }

        .loaded {
          height: inherit;
          background: none #eee;
        }
      }

      .time {
        float: right;
        font-size: 1.3em;
        color: $font-color;

        .played {
          color: $font-akcent-color;
        }
      }
    }
  }

  &.title {
    font-size: 1.35em;

  }

  &.text-left {
    text-align: left;
  }

  &.text-right{
    text-align: right;
  }

  &.text-center {
    text-align: center;
  }

  &.nav-menu {

    ul {
      @extend .content-box;
      list-style: none;    
      text-transform: uppercase;    
    }   

    .active > a, a.selected {
      background-color: $font-akcent-color;
      color: #fff;
    } 
  }

  &.nav-menu-footer {
    font-size: 1.5em;
    overflow: hidden;

    ul {
      @extend .content-box;
      list-style: none;    
      text-transform: uppercase;

      li {      
        padding: 10px;
        line-height: 30px;
      }
    }   

    a {
      color: $font-color;
      font-weight: 300;
    } 

    .active > a, a.selected {
      color: $font-akcent-color;
    } 
  }

  &.right.nav-menu-footer {
    float: right;
    ul {
      li {
        float: right;
      }
    }
  }

  &.daily-quote {  
    margin: 0;
    padding-top: 30px;
    padding-bottom: 30px;
    z-index: 1;
    text-align: center;
    font-size: 1.2em;
    font-weight: 300;

    .list-item {

      h1 {
        margin-top: 0;
      }
    }
  }

  &.list-col-3 {
    margin: 0;

    .list-item {
      &:not(:last-child) {
        &::after{
          content:' ';
          width: 2px;
          background-color: rgba(0,0,0,.1);
          position: absolute;
          top: 20px;
          bottom: 20px;
          right: -1px;
          border-radius: 1px;
        }
      }
    }

    .list-item-cell {
      background-color: transparent;
      min-height: 430px;
      overflow: hidden;
      padding: 0;
      position: relative;
      color: $font-color;
      text-align: center;

      @media (min-width: 320px) {
        font-size: .73em;

        .person {
          font-size: 21px;
        }
      }

      @media (min-width: 992px) {
        font-size: .73em;

        .person {
          font-size: 25px;
        }
      }

      @media (min-width: 1360px) {
        font-size: 17px;
      }

      .front-image {
        width: 100%;
        max-height: 220px;
        display: block;
      }

      .person {
        min-height: 24px;
        font-weight: 500;
      }

      .title {
        font-weight: 500;
        font-size: 1.2em;
        max-height: 58px;
      }

      h2 {
        font-weight: 500;             
      }

      a {
        background-color: transparent;
        display: inline-block;
        margin: 0 auto;
        color: #000;
        margin-top: 15px;
        border-radius: 4px;
        padding: 10px 25px;  
        font-weight: 500;
        text-align: center;
        transition: all .3s;
        border: 2px solid #000;
        opacity: .3;
      }

      a:hover {

        opacity: 1;
      }
    }
  }

  &.people {
    position: relative;
    text-align: center;
    margin: 30px 0; 
    padding: 20px 15px;  

    * {
      position: relative;
      z-index: 1;
    }

    h2 {    
      font-weight: normal;
      color: #fff;    
    }

    img {
      width: 200px;
      height: 200px;
      border-radius: 50%;
      background-color: #fff;
      margin: 15px auto;  
      display: block;
      overflow: hidden;
      border: 10px solid #fff; 
      transition: all .3s;
      box-shadow: 0 3px 5px rgba(0,0,0,.1), 0 5px 9px rgba(0,0,0,.1); 
    }
  }

  &.footer-text-pages {

  }

  &.contact-us-form {
    display: block;
    font-weight: 300;
    font-size: 1.3em;  

    .text-field {
      width: 100%;
      display: block;
      border: none;
      padding: 10px 15px;
      background-color: #fff;
      border: 2px solid transparent;
    }

    .text-field:focus {
      border-color: $font-akcent-color;
      outline: none;
    }

    label {
      display: block;
      padding-bottom: 5px;
    }

    .block-row {
      padding: 5px 10px;
    }
  }

  &.google-map {
    width: 100%;
    margin: 0;
    height: 450px;
    display: block;

    .map-container {
      width: 100%;
      height: 100%;
      display: block;
    }
  }

  &.text-right {
    text-align: right;
  }

  & .people-sermon {
    height: auto;
    margin: 15px 0;
    max-width: 256px;
  }

  & img {

    &.align-left {
      float: left;
    }

    &.align-right {
      float: right
    }
  }

  &.rtl {
    direction: rtl;
  }

  &.archive {
    .title {
      font-weight: 400;
      font-size: 21px;
      margin: 15px 0;
    }
  }

  &.box-list {
    .list-item {
      .list-item-cell {
        position: relative;
        background-color: #B4BFB9;
        overflow: hidden;      
        height: 400px;
        max-width: 245px;        
        font-size: 17px;
        border-radius: 7px;
        padding: 0;
        text-align: center;
        margin: 0 auto 30px;
        box-shadow: 0 3px 3px rgba(0,0,0,.04), 0 6px 9px rgba(0,0,0,.1);
        color: #fff;

        .date {           
          background-color: $item-background-color;
          color: #fff;
          height: 160px;
          margin: 0;
          display: block;
          padding: 10px;
          font-size: 56px;
          line-height: 56px;
          text-align: center;
          font-weight: 300;

          b {
            font-size: 30px;
            display: block;
          }

          @media (min-width: 992px) {
            font-size: 70px;
            line-height: 70px;
          }

          @media (min-width: 1360px) {
            font-size: 70px;
            line-height: 70px;
          }
        }

        img {
          width: 100%;
        }

        a {
          font-weight: 500;
          color: rgba(0,0,0,.5);
        }

        .item-link {
          line-height: 16px;
          padding: 8px 18px;
          border: 1px solid rgba(0,0,0,.4);
          border-radius: 3px;
          white-space: nowrap;
          max-width: 200px;
          overflow: hidden;
          display: inline-block;
          margin: 0 auto;
        }
      }
    }

    &.rtl {
      .list-item { 
        float: right;
      }
    }
  }

  @include list-footer();
}

.title h1 {
  margin: -15px auto 45px;
}

.rtl {
  .widget{
    &.nav-menu {
      ul {
        li {
          float: right;
        }
      }   
    }

    &.nav-menu-footer {
      ul {
        li {
          text-align: right;
        }
      }   
    }
  }
}
