RewriteEngine On

RewriteCond %{HTTP_HOST} ^www\.(.*) [NC]
RewriteRule (.*) http://%1/$1 [R=302,L]

# 1 WEEK
<FilesMatch "\.(jpg|jpeg|png|gif|swf|js)$">
Header set Cache-Control "max-age=604800, public"
</FilesMatch>
 
# 2 DAYS
<FilesMatch "\.(xml|txt|css)$">
Header set Cache-Control "max-age=172800, proxy-revalidate"
</FilesMatch>

RewriteCond %{REQUEST_URI} ~(.*)/public/ [NC]
RewriteRule ~(.*)/public/(.*) packages/$1/public/$2 [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*) packages/index.php [L]