RewriteEngine On

RewriteCond %{HTTP_HOST} ^www\.(.*) [NC]
RewriteRule (.*) http://%1/$1 [R=302,L]

#RewriteCond %{REQUEST_URI} !\.(.{2,4})$ [NC]
#RewriteCond %{THE_REQUEST} ^(GET|HEAD) [NC]
#RewriteRule ^(.*[^/])$ %{REQUEST_URI}/ [L,R=302]

RewriteRule ^$ packages/index.php/ [L]
RewriteRule (.*) packages/index.php/$1 [L]
