.block.header {
  width: 100%;
  min-height: 56px;
  display: block;
  left: 0;
  margin: 0;
  position: fixed;
  z-index: 100;
  background-color: #EF4035;

  + .block {
    margin-top: 56px;
  }
}

.block.section {
  padding: 0 0 30px;
}

.block.secondry {
  padding: 0 0 30px;
  background-color: #E4E4E4;
  color: #111;

  p {
    text-align: justify;
  }
}

.block.akcent {
  padding: 0 0 15px;
  background-color: #EF4035;
  color: #fff;

  p {
    text-align: justify;
  }
}


.block.footer {
  padding: 15px 0;
  background-color: #545454;
  border-bottom: 1px solid #202020;
  bottom: 60px;
  position: absolute;
  width: 100%;
  height: 120px;
  color: #fff;
}

.block.license {
  padding: 0;
  border-top: 1px solid #6b6b6b;
  background-color: #545454;
  text-align: center;
  color: #fff;
  bottom: 0;
  position: absolute;
  width: 100%;
  height: 60px;
  align-items: center;
  display: flex;
  font-size: .88em;
}

.block.career-header {
  background-image:  url('images/career-header.jpg');
  background-repeat: no-repeat;
  min-height: 350px;
  background-size: contain;
  background-color: #EAE8EB;
}