.block.header {
  width: 100%;
  min-height: 56px;
  display: block;
  left: 0;
  margin: 0;
  position: fixed;
  z-index: 100;
  background-color: #EF4035;

  + .block {
    margin-top: 56px;
  }
}

.block.section {
  padding: 30px 0;
}

.block.secondry {
  background-color: #E4E4E4;
  color: #585858;
}

.block.footer {
  padding: 30px 0;
  background-color: #545454;
  border-bottom: 1px solid #202020;
}

.block.license {
  padding: 20px 0 60px;
  border-top: 1px solid #6b6b6b;
  background-color: #545454;
}