@import "blocks.scss";
@import "panels.scss";
@import "widgets.scss";

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');

html, body {
  font-family: 'Open Sans', sans-serif;
  color: #333;
}

.container {
  width: 100%;
}