@import "blocks.scss";
@import "panels.scss";
@import "widgets.scss";

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');

html, body {
  font-family: 'Open Sans', sans-serif;
  color: #333;
  min-height: 100%;
  position: relative;
  font-size: 14px;
}

.container {
  width: 100%;
  position: relative;
  z-index: 1;
}

h1, h2 {
  font-weight: 300; 
}

a {
  color: #EF4035;

  &:hover {
    color: #EF4035;
    text-decoration: underline;
  }
}

.article-title {
  text-align: center;
  color: #585858;
  font-size: 22px;
  line-height: 34px;
  font-weight: 600;
  padding-bottom: 40px;
}

.flex-box {
  display: flex;
  align-items: center;

  &.flex-box-row {
    flex-direction: row;
  }

  &.flex-box-column {
    flex-direction: column;
  }
}