@import "blocks.scss";
@import "panels.scss";
@import "widgets.scss";

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');

html, body {
  font-family: 'Open Sans', sans-serif;
  color: #333;
  min-height: 100%;
  position: relative;
  font-size: 14px;
}

.container {
  width: 100%;
  position: relative;
  z-index: 1;
}

h1, h2 {
  font-weight: 300; 
}

a {
  color: #EF4035;

  &:hover {
    color: #EF4035;
    text-decoration: underline;
  }
}

.article-title {
  text-align: center;
  color: #666;
  font-size: 25px;
  line-height: 34px;
  font-weight: 600;
  margin: 0;
  padding: 40px 0;
}

.flex-box {
  display: flex;
  align-items: center;

  &.flex-box-row {
    flex-direction: row;
  }

  &.flex-box-column {
    flex-direction: column;
  }
  
  > div {
    flex: 0 1 100%;
    
    > img {
      max-width: 100%;
      height: auto;
    }
  }
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

h2 {
  &.primary-title {
    margin: 30px 0;
  }

  &.secondary-title {
    margin-top: -30px;
    font-size: .8em;
  }
}