.widget.main-menu {
  height: 100%;

  > ul {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    height: 100%;
    list-style: none;
    font-size: .9em;

    @media screen and (min-width: 1025px) {
      font-size: 1.1em;
    }

    > li {
      margin: 0 15px;

      > a {
        font-weight: 300;
        display: block;
        color: #fff;
        text-align: center;
        line-height: 22px;
        padding: 17px 6px 14px;
        white-space: nowrap;
        border-bottom: 3px solid transparent;
      }

      &:hover {
        > a {
          background-color: rgba(#fff, .1);
          text-decoration: none;
        }
      }

      &.active {
        > a {
          border-color: #fff;
        }
      }
    }
  }
}

.widget.logo {
  float: left;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  position: absolute;

  img {
    display:block;
    height: 50px;
    margin: 3px;
  }
}

.widget.projects-list {  
  > .list-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    > .list-item {
      width: auto;
      padding: 0;
    }
  }

  .list-item-cell {
    background-color: #fff;
    width: 340px;
    height: 216px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;

    > .thumbnail {
      width: 100%;
      height: 100%;
      margin: 0;
      left: 0;
      top: 0;
      z-index: 1;
    }

    > .title {
      font-size: 16px;
      width: 100%;
      height: 216px;
      line-height: 186px;
      background-color: rgba(#000,.6);
      color: #fff;
      font-weight: bold;
      margin: 0;
      top: 0;
      left: 0;
      transform: scale(.9);
      opacity: 0;
      text-align: center;
      padding: 15px 10px;
      position: absolute;
      z-index: 2;
      transition: all .35s ease-in-out;
    }

    > .item-link {
      width: 100%;
      height: 216px;
      color: #fff;
      padding: 150px 0 0 0;
      font-size: 20px;
      font-weight: bold;
      margin: 0;
      position: absolute;
      left: 0;
      top: 0;
      text-align: center;
      z-index: 3;
      opacity: 0;
      transition: all .35s ease-in-out;
    }

    &:hover {
      > .title {
        opacity:1;
        transform: scale(1);
      }

      > .item-link {
        opacity: 1;
      }
    }
  }
}

.widget.partners-list {
  > .list-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0;

    > .list-item {
      padding: 0;
      margin: -1px -1px 0 0;
    }
  }

  .list-item-cell {
    background-color: #fff;
    width: 100%;
    height: 220px;
    margin: 0;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 1;
    overflow: hidden;
    border: 1px solid #ccc;
    transition: all .25s ease-in-out;

    > .thumbnail {
      max-width: 100%;
      max-height: 100%;
      margin: 0;
    }

    > .item-link {
      line-height: 20px;
      background-color: #EF4035;
      color:#fff;
      position: absolute;
      width: calc(100% - 10px);
      left: 5px;
      bottom: -50px;
      padding: 15px;
      text-align: center;
      text-transform: uppercase;
      transition: all .25s ease-in-out;

      &:hover {
        text-decoration: none;
        background-color: lighten(#EF4035, 10%);
      }
    }

    &:hover {
      border-color: #333;
      z-index: 2;

      > .item-link {
        bottom: 5px;
      }
    }
  }
}

.widget.title {
  color: #EF4035;
  text-align: center;

  h1 {
    font-weight: 300;
    font-size: 40px;
    margin: 30px 0;
    text-transform: uppercase;
  }

}

.widget.subtitle {
  p {
    margin: 0;
    padding: 15px 0;
  }
}

.widget.article {
  h1 {
    color: #EF4035;
    font-weight: 300;
    font-size: 40px;
    margin: 30px 0;
    text-transform: uppercase;
  }

  h2 {
    font-weight: bold;
    font-size: 26px;
    color: #333;
  }

  > img:first-child {
    margin: 15px auto 0;
    display: block;
  }

  .list-item {
    > .list-item-cell {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-around;
      overflow: hidden;

      .description {
        color: #555;
        width: 100%;
        float: left;
        max-width: 460px;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      h2 {
        color: #333;
        margin: 0 0 15px;
      }
    }

    .banner {
      margin: 0;
    }

    &:nth-child(even) {
      > .list-item-cell {
        flex-direction: row;
      }
    }
  }

  .part {
    h1 {
      font-size: 44px;
    }

    h2 {
      margin: -30px 0 30px;
      font-size: 20px;
      font-weight: normal;
    } 
  }
}

.widget.main-slider {
  .owl-item {
    min-height: 400px;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
      float: left;
      max-width: 50%;
      height: auto;
    }

    h2 {
      font-size: 30px;
      margin: 60px 0 0;
    }

    p, h2 {
      max-width: 50%;
      padding: 0 30px;
      float: left;
      text-align: justify;
    }
  }

  .owl-controls {
    margin: 0;

    .owl-dots {
      display: flex;
      align-items: center;
      justify-content: center;

      > .owl-dot {
        > span {
          margin: 5px;
          width: 20px;
          height: 20px;
        }

        &:hover {
          > span {
            background-color: lighten(#EF4035, 20%);
          }
        }

        &.active {
          > span {
            background-color: #EF4035;
          }
        }
      }
    }
  }
}

.widget.image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.widget {
  &.text-center {
    text-align: center;

    > p, > h1, > h2, > h3 {
      text-align: center;
    }
  }
}

.widget.article-item {
  justify-content: space-between;
  display: flex;
  overflow: hidden;

  .description {
    display: flex;
    flex-direction: column;
    justify-content: center;

    *:last-child {
      margin-bottom: 0;
    }
  }

  h2 {
    margin: 0 0 15px;
  }

  .banner {
    margin: 15px;
  }
}