.radio-groups {
  display:  flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  .btn {
    margin: 0;

    &:first-child {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    &:last-child {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    input {
      visibility: hidden;
      position: absolute;
    }
  }
}

.btn > i {
  cursor: pointer;
  background-position: center center;
  background-repeat: no-repeat;
  margin: 0;
  font-size: 24px;
  max-height: 30px;
  float: left;
}

.btn-float {
  position: absolute;
  right: 115px;
  z-index: 10;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  padding: 0;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.1),0 6px 14px 0 rgba(0,0,0,0.16);
  top: 46px;
  display: flex;
  align-items: center;
  justify-content: center;

  > i {
    font-size: 26px;
  }
  
  &:hover {
    box-shadow: 0 2px 8px 0 rgba(0,0,0,0.16),0 8px 17px 0 rgba(0,0,0,0.26);
  }
}

.btn-circle {
  width: 44px;
  height: 44px;
  margin: 0;
  border-radius: 22px;
  margin-right: 5px;
  padding: 0px;
  display: flex;
  justify-content: center;

  > i {
    font-size: 29px;
    max-height: 44px;
    line-height: 44px;
    float: none;
  }
}

.btn-text {
  &.btn-circle {
    /*box-shadow: 0px 1px 3px 0px rgba(0,0,0,.24);*/
    padding: 0;

    &:hover {
      /*box-shadow: 0px 1px 3px 0px rgba(0,0,0,.24);*/
    }
  }
}

.radio, .checkbox {
  font-size: 16px;
  font-weight: 500;
  color: #aaa;
  line-height: 28px;
}

.radio {
  padding-right: 20px;
  display: flex;

  input {
    position: absolute;
    visibility: hidden;

    & + i {
      background-color: #fff;
      position: relative;
      width: 22px;
      height: 22px;
      border: 2px solid #ccc;
      border-radius: 15px;
      margin: 3px 0;
      margin-right: 5px;
      transition: border-color .2s;      

      &:after {
        transition: background-color .2s;
        background-color: #fff;
        content: ' ';
        display: block;
        margin: 3px;
        height: 12px;

        border-radius:100%;
      }
    }

    &:checked {
      & + i {
        border-color: #00BBEE;

        &:after {
          background-color: #00BBEE;
        }
      }

      & + i + span {
        color: #00BBEE;
      }
    }    
  }
}

.checkbox {
  overflow:hidden;
  display:block;
  padding-bottom: 15px;

  input {
    position: absolute;
    visibility: hidden;

    & + i {
      background-color: #ccc;
      position: relative;
      width: 52px;
      height: 28px;
      border-radius: 15px;
      margin-left: 15px;
      float: right;
      vertical-align: middle;
      transition: all .2s;

      &:after {
        transition: all .2s;
        position: absolute;
        left: 0;
        content: ' ';
        margin: 2px;
        width: 24px;
        height: 24px;
        background-color: #fff;
        border-radius: 100%;
      }
    }

    &:checked {
      & + i {
        background-color: #00BBEE;

        &:after {
          background-color: #fff;
          left: calc(50% - 2px);
        }
      }
    }    
  }

  > span {
    margin-left: 15px;
  }
}

.text-link {
  line-height: 22px;
  font-weight: bold;
  color: #00BBEE;
  padding: 5px 6px;
  margin: 5px -6px 0;
  display: inline-block;
  cursor: pointer;  
  border-radius: 4px;

  &:hover {
    color: #00BBEE;
    background-color: #daf2fd;
  }
  
  &:active {
    color: #fff;
    background-color: #00BBEE;
  }
}