.card {
  background-color: #fefefe;
  margin: 15px auto;
  padding: 0;
  overflow: hidden;
  position: relative;
  z-index: 1;

  @media (min-width:320px) {
    border-radius:0;
  }

  @media (min-width:768px) {
    border-radius: 6px;
  }

  @media (min-width:992px) {
  }

  &-big {
    @media (min-width:320px) {
      width: 100%;
    }

    @media (min-width:768px) {
      width: auto;
      margin-right:15px;
      margin-left:15px;
    }

    @media (min-width:992px) {
      width: 84%;
      min-width: 868px;
      margin-right: auto;
      margin-left: auto;
    }

    @media (min-width:1360px) {
      width: 84%;
      max-width: 1280px;
    }
  }

  &-medium {
    @media (min-width:320px) {
      width: 100%;
    }

    @media (min-width:768px) {
      width: 70%;
    }

    @media (min-width:992px) {
      width: 70%;
    }

    @media (min-width:1360px) {
      width: 70%;
      max-width: 1280px;
    }
  }

  &-small {
    @media (min-width:320px) {
      width: 100%;
    }

    @media (min-width:768px) {
      width: 50%;
    }

    @media (min-width:992px) {
      width: 50%;
    }

    @media (min-width:1360px) {
      width: 50%;
      max-width: 1280px;
    }
  }


  p {
    padding: 0;
    margin: 0;
  }

  &-title-action {
    float: left;

    &-right {
      float: right;

      > .btn {
        margin-left: 5px;
      }
    }
  }

  &-header {
    padding: 30px 25px 0px;

    h1 {
      margin: 0;
      font-size: 2.2em;

      &:last-child {
        padding-bottom: 25px;
      }
    }

    .btn {
      float: left;
    }
  }

  &-content{
    padding: 30px 25px 25px;
    position: relative;
    min-height: 98px;
    z-index: 1;

    &-title {
      font-weight: 400;
      font-size: 1.7em;
      display: block;
      margin-bottom: 15px;
      color: #000;
    }

    &.list {
      padding: 0 0 25px;

      .card-control-bar {
        padding: 5px 25px;
      }
    }
  }

  &-action-bar {
    display: block;
    padding: 5px 0;
    margin: 0 -10px 0px;
    height: 20px;
    transition: height .2s;
    overflow: hidden;
    opacity: 0;

    .btn {
      margin-left: 10px;

      &.btn-text {
        margin-right: 5px;
        margin-left: 5px;
      }

      &.pull-right {
        margin-right: 0;
        margin-left: 10px;
      }
    }
  }

  &-control-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}
