.card {
  background-color: #fefefe;
  margin: 15px auto;
  padding: 0;
  overflow: hidden;
  position: relative;
  z-index: 1;
  font-size: 16px;
  
  &:last-of-type {
    margin-bottom: 60px;
  }

  @media (min-width:320px) {
    width: 100%;
    border-radius:0;
  }

  @media (min-width:768px) {
    border-radius: 6px;
    width: calc(100% - 30px);
  }

  @media (min-width:992px) {
  }

  &-big {
    @media (min-width:320px) {
      max-width: 1024px;
    }

    @media (min-width:768px) {

    }

    @media (min-width:992px) {

    }

    @media (min-width:1360px) {
    }
  }

  &-medium {
    @media (min-width:320px) {
      max-width: 768px;
      font-size: 15px;
    }

    @media (min-width:768px) {
    }

    @media (min-width:992px) {
    }

    @media (min-width:1360px) {      
    }
  }

  &-small {
    @media (min-width:320px) {
      max-width: 420px;
      font-size: 14px;
    }

    @media (min-width:768px) {
    }

    @media (min-width:992px) {
    }

    @media (min-width:1360px) {

    }
  }

  &-glass {
    background-color: transparent;    
    box-shadow: none;

    > .card-header {
      padding: 10px 10px 0;
    }
  }


  p {
    padding: 0;
    margin: 0;
  }

  &-title-action {
    float: left;
    display: flex;
    height: 50px;
    align-items: center;

    &-right {
      float: right;
      display: flex;
      height: 50px;
      align-items: center;

      > .btn {
        margin-left: 5px;
      }
    }
  }

  &-header {
    padding: 15px 25px 0px;

    h1 {
      color: #1B2433;
      font-size: 1.56em;
      line-height: 30px;
      display: inline-block;
      vertical-align: middle;
      font-weight: 500;
      margin: 10px auto;
      transition: padding-left .15s ease-out;


      &.inline-loader {
        padding-right: 30px;

        &:after {
          right: 0;
          left: auto;
        }
      }
    }

    .btn {
      float: left;
    }

    &:before,&:after{
      content: " ";
      display: table;
    }

    &:after {
      clear: both;
    }
  }

  &-content{
    padding: 0 25px 30px 25px;
    position: relative;
    min-height: 98px;
    z-index: 1;

    h2 {
      color: #1B2433;
      font-weight: 500;
      font-size: 1.5em;
      color: #a0a0a0;
    }

    h3 {
      color: #1B2433;
      font-weight: 600;
      font-size: 1em;
      color: #000;
    }

    &-title {
      font-weight: 400;
      font-size: 1.7em;
      display: block;
      margin-bottom: 15px;
      color: #000;
    }

    &.list {
      padding: 0 0 25px;

      .card-control-bar {
        padding: 0 25px 10px;
      }
    }
  }

  &-action-bar {
    display: block;
    padding: 5px 0;
    margin: 0 -10px 0px;
    height: 20px;
    transition: height .2s;
    overflow: hidden;
    opacity: 0;

    .btn {
      margin-left: 10px;

      &.btn-text {
        margin-right: 5px;
        margin-left: 5px;
      }

      &.pull-right {
        margin-right: 0;
        margin-left: 10px;
      }
    }
  }

  &-control-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: inherit;
  }
}
