.form {
  padding: 15px;
}

.field {

  &.search-field {
    width: 100%;
    max-width: 460px;
    margin: 8px auto;
    padding: 0;

    &[focus] {
    }

    > label:first-child {
      margin-left: 15px;
      top: 0;
      left: 0;
      line-height: 38px;
    }

    &[focus] > label:first-child , &:not([empty]) > label:first-child {
      top: 0;
      left: -80px;
    }

    > .text-field {
      border: none;
      border-radius: 20px;
      padding: 0px 15px;
      background-color: #eee;
    }
  }
}

.field-actions {
  position: absolute;
  right: 0;
  bottom: 17px;
  padding: 3px 0;
  
  > .btn {
    min-width: 30px;
    padding: 0px;
    line-height: 26px;
    border-radius: 15px;
    text-align: center;
    
    > i {
      font-size: 20px;
      min-width: 26px;
      min-height: 26px;
      width: 26px;
    }
  }
}