.form {
  padding: 15px;
}

.field {

  &.search-field {
    width: 320px;
    margin: 8px auto;
    padding: 0;

    &[focus] {
    }

    > label:first-child {
      margin-left: 15px;
      top: 0;
      left: 0;
      line-height: 38px;
    }

    &[focus] > label:first-child , &:not([empty]) > label:first-child {
      top: 0;
      left: -80px;
    }

    > .text-field {
      border: none;
      border-radius: 20px;
      padding: 0px 15px;
      background-color: #eee;
    }
  }
}