.form {
  padding: 15px;
}

.form-block {
  padding: 0 15px;
  display: block;
  margin: 0;
  
  &:first-child {
    margin-top: 15px;
  }
}

.field {

  &.search-field {
    width: 100%;
    max-width: 460px;
    margin: 8px auto;
    padding: 0;

    &[focus] {
    }

    > label:first-child {
      margin-left: 15px;
      top: 0;
      left: 0;
      line-height: 38px;
    }

    &[focus] > label:first-child , &:not([empty]) > label:first-child {
      top: 0;
      left: -80px;
    }

    > .text-field {
      border: none;
      border-radius: 20px;
      padding: 0px 15px;
      background-color: rgba(0,0,0,.06);
    }
  }
  
  > system-input-json {
    margin-top: 5px;
    margin-right: 35px;
  }
}

.field-actions {
  position: absolute;
  right: 0;
  top: 20px;
  padding: 3px 0;
  
  > .btn {
    min-width: 30px;
    padding: 0px;
    line-height: 26px;
    border-radius: 15px;
    text-align: center;
    
    > i {
      font-size: 20px;
      min-width: 26px;
      min-height: 26px;
      width: 26px;
    }
  }
}