.list {
  &.items {
    font-size: 1em;
    font-weight: 400;
    margin: 0;

    li, .list-item {    
      margin: 0 0 -1px;
      padding: 15px 25px 0;
      border: none;
      position: relative;

      &:after {
        content: ' ';
        border-bottom: 1px solid #eee;
        display: block;
        margin: 15px 0 0;
      }

      &:last-child {
        margin: 0;

        &:after {
          border-bottom: none;
        }
      }

      &.action {
        cursor: pointer;

        &:hover {
          z-index: 1;
          background-color: #eee;
        }
      }

      h3 {
        font-size: inherit;
        margin: 0;

        span {
          float: right;
          color: #aaa;
          font-weight: 400;
        }
      }

      > .actions {
        background-color: #fff;
        opacity: 0;
        transform: translateX(15px);
        position: absolute;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        top: 15px;
        right: 25px;
        min-width: 44px;
        height: 44px;
        padding: 0;
        border-radius: 22px;
        overflow: hidden;
        box-shadow: 0 1px 5px rgba(0,0,0,0.06), 0 6px 17px rgba(0,0,0,.16);
        transition-property: opacity,transform;
        transition-duration: 0.2s;

        > .btn {          
          position: relative;
          overflow: visible;
          border: none;
          margin: 0;
          border-radius: 0;

          &:not(:last-child) {
            margin-right: 1px;

            &:after {
              content: ' ';
              height: 70%;
              width: 1px;
              background-color: #ccc;
              position: absolute;
              top: 15%;
              right: -1px;
            }
          }
        } 
      }

      &:hover {
        .actions {
          opacity: 1;
          transform: translateX(0);
        }
      }
    }

    &.compact {
      font-size: 13px;

      > .list-item, > li {
        padding: 6px 25px;

        &:after {
          content: ' ';
          border-bottom: none;
          display: block;
          margin: 0;
        }
      }
    }
  }

  &.rows {
    > .list-item, > li {
      padding: 10px 8px;
      margin: 0 10px 15px;
      border-radius: 6px;
      background-color: #fff;

      h3 {
        margin:0;
      }

      &.action {
        cursor: pointer;
        transition: all .1s linear;

        &:hover {
          z-index: 1;
          box-shadow: 0 1px 4px rgba(0,0,0,0.08),0 5px 9px rgba(0,0,0,0.12)
        }
      }
    }
  }

  &.no-divider {
    li, .list-item {
      margin: 0;
      border-bottom: none;

      > .actions {
        bottom: 0;    
      }
    }
  }

  .secondary {
    color: #888;
  }

  .subheading {
    color: #888;
    margin: 10px 0;
  }
}