.slider {
  display:block;
}
.slider > label{
  line-height:12px;
  height:12px;
  min-height:12px;
  text-align:center;
  font-size:12px;
  margin-bottom:2px;
  padding:0px;
}

.slider > .dragger {  
  background: #3cf;
  border-radius: 10px;
  width: 20px; 
  height: 20px;
}

.slider > .dragger:hover, .dragger.dragging{
  transform: scale(1.1,1.1);
}


.slider > .track, .slider > .highlight-track {
  background: #ddd;
  border-radius: 8px;
  border: 0px solid #aaa;
  height: 6px;
}

.slider > .highlight-track {
  /*-webkit-box-shadow: inset 0 1px 1px #fff;
  -moz-box-shadow: inset 0 1px 1px #fff;
  box-shadow: inset 0 1px 1px #fff;*/
  background-color: #3cf;		
}
.slider.disabled {
  opacity:.6;
  cursor:default;
}

.slider.disabled > .highlight-track {
  /*-webkit-box-shadow: inset 0 1px 1px #fff;
  -moz-box-shadow: inset 0 1px 1px #fff;
  box-shadow: inset 0 1px 1px #fff;*/
  background-color: #aaa;		
}

