$body-background: #e8ebed;
$background-accent: #1B2433;

$app-bar-background: transparent;
$app-tool-bar-background : #fff;

$apps-menu-background: #fff;
$panel-shadow: 0 5px 30px rgba(0, 20, 50, .16);
