/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24-mrt-2015, 12:55:51
    Author     : Themakanaal
*/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700);

html,body{font-family: 'Open Sans', sans-serif;padding:0px;font-size:1.2em;}
.container
{
   width:100%;
   min-height:100%;
}
.block.header
{
   background-color:#EF4035;
   min-height:56px;
}
.block.section
{

}
.block.grey
{
   background-color: #E4E4E4;
}
.block.pink
{
   background-color:#EF4035;
   margin-top:50px;
}
.block.pink img
{
   margin:15px auto;
}
.block.footer
{
   background-color:#545454;
   color: #fff;
}
.block.copyright
{
   background-color:#545454;
   color: #fff;
   border-top:1px solid #646464;
   font-size:.9em;
   box-shadow:0px 0px 7px #444;
   
}

.widget.menu-bar{} 
.menu-bar ul{list-style:none;margin:0px;overflow:hidden;}
.menu-bar li
{
   float:left;
}
.menu-bar li.active a,.menu-bar a.active{border-bottom-color:#fff;}
.menu-bar a
{
   font-size:14px;
   border-bottom:2px solid transparent;
   color:#fff;
   display: inline-block;
   line-height: 55px;
   margin: 0 20px;
   height: 56px;
}
.menu-bar a:hover{border-bottom-color:#fff;}

.widget.logo img{float:left;width:160px;margin:5px;height:46px;} 
.widget.head-title *{color:#EF4035;text-align:center;font-weight:300;}
.widget.content{color:#777;margin:150px 0;}
.widget.content h2{font-size:1.1em;}
.widget.content p{font-size:.7em;}
.widget.text h1{font-size:1.1em;color:#fff;font-weight:normal;}
.widget.text p{font-size:.6em;color:#fff;}
.widget.information ul{font-size:.6em;color:#fff;padding:0px;list-style:none;}
.widget.information li{float:left;width:25%;}



img {margin:0px auto;display:block;}