@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,600,300,700,900);

@import "components/typography";
@import "components/media-xs";
@import "components/form";
@import "components/card";
@import "components/grid";
@import "components/list";
@import "components/ew-elements";
@import "components/icons";
@import "components/buttons";
@import "components/transitions";
/*@font-face{ 
  font-family: 'geomanist';
  src: url('fonts/geomanist-bold-webfont.ttf');
  src: url('fonts/geomanist-bold-webfont.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face{ 
  font-family: 'geomanist';
  src: url('fonts/geomanist-book-webfont.ttf');
  src: url('fonts/geomanist-book-webfont.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face{ 
  font-family: 'geomanist';
  src: url('fonts/geomanist-regular-webfont.ttf');
  src: url('fonts/geomanist-regular-webfont.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face{ 
  font-family: 'geomanist';
  src: url('fonts/geomanist-light-webfont.ttf');
  src: url('fonts/geomanist-light-webfont.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}*/

@font-face {
  font-family:'Homa';
  src:url(fonts/Far_Homa.eot);
  src:url(fonts/Far_Homa.eot?#iefix) format("embedded-opentype"),url(fonts/Far_Homa.woff) format("woff"),url(fonts/Far_Homa.ttf) format("truetype"),url(fonts/Far_Homa.svg#Far.Homa) format("svg");
  font-weight:400;
  font-style:normal;
}

@font-face {
  font-family:'Homa';
  src:url(fonts/Far_TitrBd.eot);
  src:url(fonts/Far_TitrBd.eot?#iefix) format("embedded-opentype"),url(fonts/Far_TitrBd.woff) format("woff"),url(fonts/Far_TitrBd.ttf) format("truetype"),url(fonts/Far_TitrBd.svg#Far.TitrBd) format("svg");
  font-weight:700;
  font-style:normal;
}

root {
  display: block;
}

::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #b0b8bf;
  border: 2px solid transparent;
  border-radius: 3px;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #0080f0;
}

::-webkit-scrollbar-thumb:active {
  background-color: #0080f0;
}

.top-pane{
  width: 100%;
  height: 100%;
}

@media (min-width: 992px) {
  .top-pane.center {
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0;
    max-width: 990px;
    width: 100%;
    min-width: 320px;
    min-height: 400px;
    left: 50%;
    margin-left: -495px;
  }

  ul.component li {
    margin: 10px;
    float: left;
    width: 250px;
    height: 200px;
    padding: 0 10px;
  }

  .tabs-bar.tab-pane-md {
    display: block!important;
  }

  .form-content.tab-content.tab-pane-md {
    position: absolute;
    display: inherit!important;
    top: 55px!important;

    .tab-pane {
      display: none;
    }

    > .active {
      display: block;
    }
  }

  .tab-pane-md .static-block {
    position: absolute!important;
    top: 0!important;
    bottom: 0!important;
  }

  .actions-bar > .btn, .actions-bar > .btn-group {
    margin-right: 10px;
    margin-bottom: 2px;
    float: left;
    width: auto;
  }

  .top-pane {
    .form-content {
      bottom: 55px;
    }

    .footer-pane {
      height: 56px;
    }
  }

  .content-item {
    .album {
      width: 180px;
      height: 180px;

      p {
        font-weight: 400;
        font-size: 1.6em;
        text-align: left;
        padding: 0 10px;
        color: rgba(0,0,0,.6);
      }
    }
  }

  .apps-menu {
  }
}

@media (min-width: 1360px) {
  .top-pane.center {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 50%;
    margin-left: -680px;
    max-width: 1360px;
    min-width: 320px;
    min-height: 400px;
    border-radius: 0;
  }

  ul.component li {
    margin: 10px;
    float: left;
    width: 250px;
    height: 200px;
    padding: 0 10px;
  }

  .tabs-bar.tab-pane-lg {
    display: block!important;
  }

  .form-content.tab-content.tab-pane-lg {
    position: absolute;
    display: inherit!important;
    top: 55px!important;
  }

  .form-content.tab-content.tab-pane-lg .tab-pane {
    display: none;
  }

  .form-content.tab-content.tab-pane-lg > .active {
    display: block;
  }

  .tab-pane-lg .static-block {
    position: absolute!important;
    top: 0!important;
    bottom: 0!important;
  }

  .actions-bar > .btn, .actions-bar > .btn-group {
    margin-right: 10px;
    margin-bottom: 0;
    display: inline-block;
    float: left;
  }

  .top-pane .form-content {
    bottom: 55px;
  }

  .top-pane .footer-pane {
    height: 56px;
  }

  .content-item.album {
    width: 200px;
    height: 200px;
  }

  .content-item.album p {
    font-weight: 400;
    font-size: 1.6em;
    text-align: left;
    padding: 0 10px;
    color: rgba(0,0,0,.6);
  }
}

.icon-back ,.icon-back:active{
  background-image: url('images/back-arrow-black.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 24px;
}

.icon-edit ,.icon-edit:active{
  background-image: url('images/edit-icon.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 24px;
}

.icon-delete ,.icon-delete:active{
  background-image: url('images/delete-icon.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 24px;
}

.icon-ok, .icon-ok:active {
  background-image: url('images/check-icon-24.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 24px;
}

.btn.pull-right {
  margin-right: 0;
  margin-left: 10px;
}

.glass-pane-lock.top-pane {
  width: 100%;
  margin: 0;
  background-color: transparent;
}

.top-pane .form-content {
  padding: 0;
  top: 86px;
  position: absolute;
  overflow: auto;
  overflow-x: hidden;
  left: 0;
  right: 0;
  margin: 0;
  background-color: #fff;
}

.top-pane .footer-pane {
  background-clip: padding-box;
  background-color: #fff;
  z-index: 5;
}

.form-content.tabs-bar.tab-pane-xs {
  top: 0;
}

.form-content.tabs-bar.tab-pane-sm {
  top: 0;
}

.form-content.tabs-bar.tab-pane-md {
  top: 0;
}

.form-content.tabs-bar.tab-pane-lg {
  top: 0;
}

.form-content.grid {
  background-color: #e8ebed;
}

.form-content.tab-content {
  position: absolute;
  width: 100%;
  top: 50px;
  right: 0;
  bottom: 0;
  left: 0;
  display: inherit;

  .tab-pane.static-block, .static-block {
    position: absolute;
    top: 0;
    bottom: 0;
  }
}

.header-pane.tabs-bar.tab-pane-xs {
  display: none;
}

.header-pane.tabs-bar.tab-pane-sm {
  display: none;
}

.header-pane.tabs-bar.tab-pane-md {
  display: none;
}

.header-pane.tabs-bar.tab-pane-lg {
  display: none;
}

.tabs-bar.tab-pane-xs .tab-pane {
  display: inherit;
}

.tabs-bar.tab-pane-sm .tab-pane {
  display: inherit;
}

.tabs-bar.tab-pane-md .tab-pane {
  display: inherit;
}

.tabs-bar.tab-pane-lg .tab-pane {
  display: inherit;
}

.tabs-bar.tab-pane-xs .tab-pane {
  display: inherit;
}

ul.component li a {
  width: 100%;
  height: 100%;
  background-color: #fff;
  float: left;
  border: 0 solid #aaa;
  text-decoration: none;
  border-radius: 16px;
  overflow: hidden;
}

.transition {
  -webkit-transition-property: all;
  -webkit-transition-duration: .3s;
  -webkit-transition-timing-function: ease-out;
  transition-property: all;
  transition-duration: .3s;
  transition-timing-function: ease-out;
}

.transition.scale {
  -webkit-transition-property: -webkit-transform,opacity;
  transition-property: transform,opacity;
}

html, body {
  margin: 0;
  height: 100%;
  font-family: 'Roboto', Homa;
}

body {
  background-repeat: repeat-x;
  background-attachment: fixed;
  overflow: hidden;
}

.wrapper {
  position: relative;
}

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.blur {
  -webkit-filter: blur(1px);
  -moz-filter: blur(1px);
  -o-filter: blur(1px);
  -ms-filter: blur(1px);
  filter: blur(1px);
  transform: translateZ(-150px);
  transition: all .5s;
}

.lock-pane {
  background-color: rgba(200,200,200,.36);
  opacity: .5;

  &.show{
    opacity: 1;
  }
}

.table-container > .lock-pane{
  background-color: transparent;
  opacity: 1;
}

.inline-loader, .sections-menu .inline-loader {
  background-image: none;
  position: relative;
}

.inline-loader:after{
  content:'';
  width: 20px;
  height: 20px;
  display: block;
  border-radius: 50%;
  animation: spin .8s linear infinite;
  position: absolute;
  left: 20px;
  top: 50%;
  border: 3px solid transparent;
  border-top-color: rgba(0,0,0,.7);
  border-right-color: rgba(0,0,0,.7);
  margin: -10px 4px;
}

.loader {
  width: 64px;
  height: 64px;
  display: block;
  background-color: #fff;
  padding: 14px;
  border-radius: 50%;
  box-shadow: 0 3px 4px rgba(0,0,0,.1), 0 1px 10px rgba(0,0,0,.14);

  &:before {
    display: block;
    margin: 0 auto;
    width: 36px;
    height: 36px;
    border-top: 4px solid #3cf;
    border-right: 4px solid #a4e900;
    border-left: 4px solid #ff7200;
    border-bottom: 4px solid #000;
    content: "";
    -webkit-animation: spin 2s ease infinite;
    animation: spin 2s ease infinite;
    border-radius: 100%;
  }

  &.center {
    position: absolute;
    margin-top: -32px;
    margin-left: -32px;
    top: 50%;
    left: 50%;
  }

  &.top {
    position: absolute;
    margin-top: -32px;
    margin-left: -32px;
    top: 47px;
    left: 50%;
  }

  &.hover {
    width: auto;
    height: auto;
    top:0;
    right: 0;
    left:0;
    bottom:0;
    display: block;
    background-color: rgba(240,240,240,.5);
    padding: 14px;
    border-radius: 0;
    box-shadow: none;
    display: flex;
    flex-direction: column;
    align-content: center;
    position: absolute;

    &:before {
      display: block;
      margin: -18px;
      width: 36px;
      height: 36px;
      border: 4px solid transparent;
      border-bottom-color: #000;
      content: " ";
      -webkit-animation: spin 2s ease infinite;
      animation: spin 2s ease infinite;
      border-radius: 100%;
      top: 50%;
      left:50%;
      position: absolute;
    }
  }
}

.loading-lock {
  background-color: red;
  width: 100px;
  height: 100px;
}

body.Admin {
  background-image: none;
}

#base-pane {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  z-index: 0;
  top: 0%;
  left: 0%;
  overflow: hidden;
  background-color: #e8ebed;
  position: absolute;
  z-index: 1;
}

.top-pane.hide-content > * {
  display: none;
}

.header-pane h1 span,span.header-label {
  float: left;
  line-height: inherit;
  padding-right: 10px;
  border-right: 0 solid #999;
  font-weight: 300;
}

.top-pane {
  background-color: #0097a7;
  position: absolute;
  top: 41px;
  right: 0;
  bottom: 0;
  overflow: visible;
  border: 0 solid #999;
  border-radius: 0;
  z-index: 10;

  &:before {
    content: '';
    display: block;
    height: 32px;
    margin: 0;
    background-color: rgba(0,0,0,.28);
  }

  .header-pane {
    padding-top: 32px;
    margin-top: -32px;
    position: relative;
    z-index: 1;

    &.tabs-bar {
      overflow: auto;
      height: 142px;   

      + .form-content {
        top: 142px;
      }
    }

    &.thin {
      padding-top: 0;
      height: 32px;  

      + .form-content {
        top: 32px;
      }

      &.tabs-bar {
        height: 88px;  

        + .form-content {
          top: 88px;
        }
      }

      h1 {
        line-height: 32px;
        font-size: 16px;  
      }
    }

    h1 {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      color: rgba(255,255,255,.9);
      line-height: 54px;
      margin: 0;
      font-size: 23px;
      padding: 0 30px;
      font-weight: 500;
    }
  }
}

#app-content {
  position: absolute;
  margin: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
  perspective: 5000px;
}

#main-content {
  width: auto;
  min-width: 320px;
  width: calc(100% - 94px);
  position: absolute;
  overflow: scroll;
  overflow-x: hidden;
  padding-left: 0px;
  padding-right: 0px;
  margin-right: -14px;
  display: block;
  top: 64px;
  left: 94px;
  bottom: 0;
  opacity: 0;
  z-index: 1;
  transform-origin: center top;


  /*  &.in {
      opacity: 1;
      transform: translateY(0%);
    }*/

  &.tabs-bar-on {
    /*top: 144px;*/
  }

  & > .tabs-bar {
    position: relative;
    box-shadow: 0 1px 2px 0px rgba(0,0,0,0.06); 
  }

  & > .tab-content {
    background-color: transparent;
    margin-left: 0;
    position: absolute;
    width: 100%;
    top: 50px;
    right: 0;
    bottom: 0;
    left: 0;
    display: inherit;
  }

  & > .header-pane.tabs-bar {
    height: auto;
  }
}

.header-pane .nav-tabs > li > a {
  height: 50px;
}

.header-pane .nav-pills > li > a {
  line-height: 30px;
}

.form-content.no-footer {
  bottom: 0;
  border-bottom: 0 solid #ddd;
}

.form-content .tab-content {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.form-content > .tab-content {
}

.footer-pane {
  background-color: #fff;
  position: absolute;
  bottom: 0;
  width: 100%;
  min-height: 52px;
  padding: 0;
}

.footer-pane img {
  border: none;
}

.top-pane {
  &.full {
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
  }

  &.center-big {
    margin: 0;
    top: 15px;
    left: 40px;
    bottom: 15px;
    right: 0;
    min-width: 320px;
    width: auto;
  }

  &.center {
    &.full {
      margin: 0;
      top: 10px;
      left: 15px;
      bottom: 15px;
      right: 15px;
      min-width: 320px;
      width: auto;
    }

    &.slim {
      margin: 0;
      top: 0px;
      left: 50%;
      bottom: 15px;
      right: auto;
      margin-left: -520px;
      min-width: 320px;
      width: 1040px;
      background-color: #757575 ;
    }
  }


  &.right {
    top: 4px;
    bottom: 8px;
    width: 540px;
    max-width: 540px;
    left: auto;
    right: 40px;
  }

  &.left {
    top: 0;
    bottom: 0;
    width: 35%;
    min-width: 600px;
    left: 0%;
    right: auto;

    &.big {
      width: 55%;
      max-width: 1040px;
    }
  }

  &.properties {
    background-color: #607D8B;
  }
}

h1 {
  margin: 0 0 15px;
  display: block;
  font-weight: 400;
  color: #000;
  min-height: 30px;
  font-size: 2.8em;
  -webkit-font-smoothing: antialiased;
}

h2 {
  margin: 25px 0 15px;
  display: block;
  font-size: 20px;
  line-height: 30px;
  font-weight: 300;
  color: #222;
  min-height: 30px;
  font-size: 1.7em;
  -webkit-font-smoothing: antialiased;
}

.glass-pane-lock {
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.36);
  position: fixed;
  font-size: 64px;
  text-align: center;
  color: #05b;
  padding: 0;
  cursor: default;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;

  &.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -32px;
    margin-left: -32px;
  }
}

.glass-pane-lock.green {
  font-size: 32px;
  padding: 20px;
  color: #090;
}

.glass-pane-lock.trans {
  background-color: rgba(255,255,255,.5);
}

button {
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
  white-space: nowrap;
  overflow: hidden;
}

.apps-menu-title, .apps-menu-link {
  color: inherit;
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  padding: 5px 0;
  height: 94px;
  line-height: 84px;
  display: block;   
}

.apps-menu-icon {
  float: none;
  display: block;
  height: 27px;
}

.apps-menu-link {
  height: 94px;
  line-height: 94px;
  padding: 0;
  cursor: pointer;
}

a.apps-menu-link:hover {
  color: #000;
  background-color: rgba(92,177,204,.18);
}

.apps-menu-link.selected,.apps-menu-link.selected:hover {
  color: #fff;
  background-color: #5cb1cc;
  border-left: 0px solid #5CB1CC;
}

.apps-menu-list {
  padding: 0;
  margin: 0;

  li {
    display: block;
    padding: 0;
    margin: 0;   
  }
}

.btn-home-app {
  float: left;
  width: 36px;
  height: 36px;
  border: 0;
  margin: 0;
  margin-left: 0px;
  margin-top: 2px;
  padding: 0;
  font-weight: 400;
  border-radius: 0;
  font-size: 28px;
  line-height: 36px;
  border-radius: 20px;
  color: #000;
}

.btn.btn-home-app i {
  float: none;
}

.app-bar {
  display: flex;
  align-items: center;
  flex-direction: column;

  > .white-area {
    justify-content: center;
    width: 100%;
    display: flex;
    background-color: #fff;
    height: 64px;
    overflow: hidden;
    z-index: 7;

    align-items: center;
    box-shadow: 0 1px 3px rgba(0,0,0,.07) , 0 4px 12px rgba(0,0,0,.07);
    transition: all .3s ease-out;

    > .app-bar-middle-section {
      overflow: hidden;
      height: 100%;
      flex: 1 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
    }
  }

  &.tabs-bar-on {
    + #main-content {
      top: 110px;
    }

    .tabs-bar {  
      margin-top: 0;
    }
  }

  .tabs-bar {     
    height: 46px;
    margin: -46px 0 0; 
    display: flex;
    align-items: flex-start;
    align-self: center;
    justify-content: center;
    z-index: 2;
    background-color: #fff;
    width: 100%;
    box-shadow: 0 0 3px 0px rgba(0,0,0,0.04),0 2px 7px rgba(0,0,0,0.07);
    transition: all .2s ease-in-out;

    > ul {
      background-color: transparent;
      padding: 0 15px;  

      .active {
        a {
          /*background-color: #5cb1cc;*/
          /*background-color: #fff;*/
          /*box-shadow: 0 9px 12px -4px rgba(0,0,0,.3);*/

          &:hover, &:focus {
            background-color: #fff;
          }
        }
      }
    }

    a {
      padding: 12px 20px 9px;
      line-height: 22px;
      margin: 0;
      color: #999;

        &:hover, &:focus {
        background-color: #fff;
      }
    }
  }
}

.app-bar.in {
  top: 0;
  box-shadow: 0 0px 3px 0px rgba(0,0,0,0.24);
}

.app-bar .action-pane {
  display: block;
  margin: 40px 0 0 350px;
}

.app-bar-title {
  float: left;
  width: 260px;
  padding: 17px 20px 17px 40px;
  font-size: 1.8em;
  line-height: 30px;
  margin-top: 0;
  color: #1B2433;
}

.app-bar-title.inline-loader:after {
  left: 10px;
}

.overlay {
  position: absolute;
  width: 100%;
  font-size: 2em;
  margin: 0;
  z-index: 10;
  text-align: center;
  padding: 15px;
}

.home-pane {
  width: 100%;
  position: absolute;
  padding-top: 94px;
  transform: scale(.86);
  opacity: 0;

  &.in {
    top: 0;
    opacity: 1;
    transform: scale(1);
  }
}

.apps-list {
  list-style: none;
  max-width: 1100px;
  display: block;
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  li {
    float: left;
    flex: 0 1 auto;
    margin: 15px;
  }
}

.app-link {
  width: 225px;
  height: 180px;
  background-color: #f4f4f4;
  border: 0 solid #aaa;
  text-decoration: none;
  border-radius: 3px;
  overflow: hidden;
  transition: all .2s ease-out;
  color: #444;
  cursor: pointer;
  display: table-cell; 
  padding: 15px;
  vertical-align: middle;

  &:hover {
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    color:#000;
    background-color: #fff;
  }

  &:active {
    background-color: #ddd;
  }

  label {
    font-size: 22px;
    float: none;
    display: block;
    margin: 0;
    padding: 0px 0px 15px;
    cursor: inherit;
    font-weight: normal;
    text-align: center;
  }

  p {
    height: 80px;
    margin: 0;
    padding: 0;
    display: block;
    font-size: 16px;
    text-align: center;
  }
}

.actions-bar {
  height: 54px;
  padding: 10px;
  padding-bottom: 0;
  display: block;
  overflow: auto;
  overflow-x: hidden;
}

.title.actions-bar {
  padding: 0;
  vertical-align: middle;
  height: auto;
  overflow: visible;

  span {
    display: inline-block;
  }

  .btn{
    margin-left: 30px;
    font-size: .5em;
    font-weight: 400;
    padding: 0 15px;
    float: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0px 1px 3px rgba(0,0,0,.16), 0 2px 6px rgba(0,0,0,.12);
    vertical-align: middle;
  }
}

h2.actions-bar {
  min-height: 54px;
}

h2.actions-bar span {
  float: left;
  margin-right: 15px;
  line-height: 34px;
}

.width-lg-8 {
  width: 66.6%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.z-index-2 {
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 5px 9px 0 rgba(0,0,0,0.16);
}

.z-index-1 {
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.12),0 2px 5px 0 rgba(0,0,0,0.12);
}

.z-index-0 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,.1);
}

.top-devider, .top-divider {
  border-top: 1px solid rgba(0,0,0,.1);
}

.center-block {
  float: none;
  display: block;
  position: relative;
}

ul.actions-bar {
  height: 34px;
  margin: 0;
  padding: 8px;
  display: block;
  list-style: none;
}

ul.actions-bar li {
  margin-right: 10px;
  padding: 0;
  float: left;
  overflow: hidden;
  height: 34px;
}

ul.actions-bar li a.button {
  display: block;
  white-space: nowrap;
}

ul.actions-bar li label {
  padding: 0;
  height: 34px;
  line-height: 34px;
}

.actions-bar .btn-group {
  margin-bottom: 8px;
  margin-right: 10px;
}

.actions-bar .loader {
  width: 34px;
  height: 34px;
  float: left;
  margin: 0 5px;
  z-index: 1;
  position: relative;
}

.actions-bar .loader:before {
  width: 34px;
  height: 34px;
  float: left;
  border-width: 2px;
  border-color: inherit;
  border-top-color: transparent;
  z-index: 1;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

.list {
  list-style: none;
  padding: 0;

  li, > .list-item {
    display: block;
    padding: 0;
    margin: 0;
    margin-bottom: 5px;
    position: relative;
    overflow: hidden;

    .wrapper {
      overflow: hidden;
    }

    .close-icon {
      position: absolute;
      right: 2px;
      top: 5px;
      z-index: 1;
    }

    .control {
      position: static;
      width: 100%;
      top: 0;
      margin: 0;
    }
  }
}

.list.indent {
  margin: 5px 0;
}

.list.indent li {
  margin: 0;
  padding: 2px 5px;
  overflow: hidden;
}

.list.box li {
  margin: 0;
  margin-bottom: 1px;
  padding: 15px 0;
  background-color: #eaeaea;
}

.list.box li .close-icon {
  position: absolute;
}

.list.arrangeable
{
  margin-bottom: 0;
  overflow: hidden;
}

.list.arrangeable li {
  margin: 15px;
  border-radius: 2px;
  border-bottom: 0px solid rgba(0,0,0,.08);  
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,.1);
}

.list.arrangeable li:last-child {
  border-bottom: none;
}

.list.arrangeable.row-buttons {
  padding: 5px 15px;
}

.list.arrangeable li.dragged .handle {
  visibility: hidden;
}

.list.arrangeable li.placeholder {
  min-height: 30px;
  background-color: #eee;
  box-shadow: none;
}

.list.arrangeable li .handle {
  width: 20px;
  position: absolute;
  background-color: rgba(0,0,0,.15);
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 2;
}

.list.arrangeable li .handle:hover {
  background-color: rgba(0,0,0,.26);
  cursor: move;
}

.list.arrangeable li .wrapper {
  padding: 15px 10px;
  padding-left: 30px;
  /* padding-bottom: 0px; */
  border-radius: 0;
  background-color: #f9f9f9;
  overflow: hidden;
}

.list.arrangeable.fields > li {
  margin: 0 15px 5px;
  border-radius: 6px;
  box-shadow: none;
  /*border: 2px solid rgba(#000 , .2);*/
  
  .close-icon {
    right: 2px;
    top: 3px;
  }
}

.list.arrangeable.fields > li > .wrapper {
  padding: 2px 10px 4px;
  padding-left: 26px;
  border-radius: 0;
  background-color: #CFD8DC;
  overflow: hidden;
}

.list.arrangeable.fields > li > .wrapper {
  .text-field, .field {
    font-size: 20px;
    border-color: transparent;
    margin-bottom: 0;
    padding-bottom: 0;

    > label {
      top: 5px;
    }
  }
}

.list.arrangeable.fields > li > .wrapper .text-field:hover {
  border-color: inherit;
}

.list.arrangeable li span {
  display: block;
  min-height: 20px;
  line-height: 20px;
}

.list li h1,.list li h2,.list li h3,.list li h4,.list li h5 {
}

.list li ul {
  display: block;
  padding: 0;
  padding-left: 10px;
  margin: 5px 0 15px;
}

.list.tree li {
  margin-bottom: 15px;
}

.list.tree > li > ul > li {
  padding-left: 20px;
  margin-bottom: 1px;
  overflow: hidden;
}

.list.tree > li > ul > li:nth-of-type(even) {

}

.list.tree li li li {
  margin: 0 0 0 20px;
  float: none;
}

.list.tree > li > ul {
  font-size: 16px;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.list.tree ul {
  font-size: 16px;
  padding: 0;
  margin: 0;
}

.list.tree label {
  border-left-width: 1px;
  margin: -1px 0;
  border-radius: 0;
  font-size: 16px;
  position: relative;
  padding: 6px 10px;
  color: #777;
  border: none;
  text-shadow: none;
  text-transform: none;
  box-shadow: none;
  background-color: transparent;
}

.list.tree label p{
  margin: 0;
  margin-left: 25px;
  font-size: 16px;
  font-weight: normal;
}

.list.tree label:hover {
  z-index: 1;
  background-color: #eee;
}

.list.tree label.active {
  box-shadow: none;
  border-color: transparent;   
  color: #000;
  text-shadow: none;
}

.list.tree label.active:hover {
}

.links {
  margin: 0;
  margin-top: 10px;

  li {
    a {
      font-weight: bold;
      display: block;
      float: none;
    }

    p {
      margin: 2px 0;
      display: block;
      font-weight: 400;
    }
  }
}


.btn.component-chooser {
  background-image: url(images/component-chooser-btn.png);
  background-repeat: no-repeat;
  background-position: center center;
  text-decoration: none;
  padding: 0;
}

.sections-menu {
  /*background-color: #5cb1cc;*/
  background-color: #fff;
  position: absolute;
  left: -196px; 
  width: 280px;
  min-height: 94px; 
  border-radius: 0;
  overflow: hidden;
  font-size: 16px;
  margin: 0;
  padding:  15px 0;
  /*box-shadow: 0 1px 1px rgba(0,0,0,.1) , 0 0px 3px rgba(0,0,0,.14);*/
  /*box-shadow: 0 1px 3px rgba(0,0,0,.14) , 0 3px 6px rgba(0,0,0,.14);*/
  /*box-shadow: 0 2px 5px rgba(0,0,0,.08) , 1px 3px 15px rgba(0,0,0,.1);*/
  box-shadow: 0 1px 3px 0px rgba(0,0,0,0.06), 1px 0 7px rgba(0,0,0,0.1);
  color: #000;
  z-index: 1;
  float: left;  

  &.in {        
    height: auto;
    left: 94px;
    width: 280px;
    border-radius: 0;
    padding-top: 15px;
    padding-bottom: 15px;   

    > * {
      display: inherit;  
    }

    .sections-menu-title {
      display: none;
    }
  }

  &.out {
    height: 94px;
    left:-186px;
  }
}

.sections-menu-title {
  background-image: url(images/side-bar-btn.png);
  background-repeat: no-repeat;
  background-position: 14px center;
  width: 250px;
  height: 54px;
  line-height: 54px;
  padding: 0 30px;
  padding-left: 52px;
  font-size: 1.2em;
  float: left;
  display: inline;
  font-weight: normal;
  box-shadow: none;
  text-align: left;
  text-transform: none;
  margin: 20px 0 0 0;
  border-radius: 0;
  border: 0;
  display: none;
}

.sections-menu label {
  min-width: 200px;
  line-height: 30px;
  font-size: 1.5em;
  font-weight: bold;
  padding: 15px 10px 15px 52px;
  overflow: hidden;
  border-left-width: 0;
  display: block;
  font-weight: 300;

  ul , .sections-menu-list {
    font-size: 1.2em;
    font-weight: normal;
    list-style: none;
    padding: 0;
    margin: 0;
    min-width: 250px;
    overflow: hidden; 
  }

  ul + ul {
    list-style: none;
    padding: 0;
    margin: 15px 0 0;
    min-width: 250px;

    label:first-child {
      margin-top: 0px;
    }
  }

  li, .sections-menu-item  {
    padding: 0;
    display: block;
    overflow: hidden;
  }
}

.sections-menu li a , .sections-menu-item-link {
  background-position: right center;
  background-repeat: no-repeat;
  color: inherit;
  text-decoration: none;
  padding: 15px 10px;
  padding-left: 52px;
  display: block;
  line-height: 30px;
  min-height: 42px;
  vertical-align: middle;
  position: relative;
  white-space: nowrap;
  transition-property: background-color, color;
  transition-duration: .15s;
}

.sections-menu li a img {
  max-height: 28px;
  float: left;
  margin: 0;
}

.sections-menu li a label {
  float: left;
  padding: 0;
  margin: 0;
}

.sections-menu li a:hover , .sections-menu-item-link:hover {
  background-color: rgba(92,177,204,.18);
  color: inherit;
}

.sections-menu li a:active , .sections-menu-item-link:active {

}

.sections-menu li a:focus , .sections-menu-item-link:focus {
  background-color: rgba(92,177,204,.18);
  outline-offset: -1px;
  color: inherit;
}

.sections-menu li a.selected , .sections-menu-item-link.selected {
  background-color: rgba(92,177,204,1);
  color: #fff;
  cursor: default;
  padding-left: 52px;
}

.texture {
  background-image: url(images/side-bar-bg.png);
}

.texture.dark {
  background-color: #c0cacf;
}

.texture.squre {
  background-color: #fff;
  background-image: url(images/squre-texture.png);
}

ul.layout-components {
  margin: 0;
  padding: 0 5px;
  font-size: 15px;
  font-weight: 400;
  list-style: none;
  overflow: hidden;
  display: block;
  position: relative;

  li {
    padding: 0;
    margin: 6px 0 0;
    display: block;
    /*overflow: hidden;*/
    min-height: 34px;
    border: 1px solid transparent;
    position: relative;
    /*background-color: rgba(0,0,0,.1);*/    

    &:last-child {
      margin-bottom: 6px;
    }

    .item-label {      
      text-decoration: none;
      color: #888;
      padding: 6px 15px;
      float: left;
      line-height: 22px;
      cursor: pointer;
      background-color: rgba(0,0,0,.1);
      border-radius: 3px;
      text-transform: uppercase;

      &:hover {
        background-color: silver;
        color: #000;
      }
    }
  }

  ul {
    padding: 0 0 0px 15px;
    overflow: hidden;
    margin-right: -1px;
    width: 100%;
    min-height: 40px;
    display: block;
  }
}

ul.layout-components li.block.highlight,ul.layout-components li.highlight {
  box-shadow: 0 1px 2px rgba(0,0,0,.2) ,0 3px 6px rgba(0,0,0,.14);
  border: 1px solid rgba(0,0,0,.5);
}

ul.layout-components li.block {
  padding: 0;
  margin: 10px 0;
  display: block;
  overflow: hidden;
  min-height: 34px;
  border: 1px solid transparent;
  border-radius: 0;
}

ul.layout-components li.block li.block {
  margin-left: -7px;
  margin-bottom: 0;
}

ul.layout-components li.panel {
  border-radius: 0;
  margin-right: 0;

  > .item-label {
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
  }

  > ul {
    min-height: 40px;
    padding-bottom: 20px;
  }
}

ul.layout-components li.widget {
  border: none;
  padding: 0 6px;
  /*overflow: hidden;*/
  background-color: transparent;
}

ul.layout-components li.widget > .item-label {
  background-color: #0097A7;
  padding: 5px;
  border-radius: 16px;
  color: #fff;
  float: none;
  display: block;
  margin-right: 0;
  text-transform: none;
  font-size: 13px;
  font-weight: 500;
  box-shadow: 0 2px 3px rgba(0,0,0,.2);
  transition: all .2s;


  + .close-icon {
    top: 6px;
  }
}

ul.layout-components li.widget > .item-label:hover, ul.layout-components li.widget > .item-label.hover {
  background-color: #09B0C1;
}

ul.layout-components li.widget .close-icon {
  right: 11px;
}

ul.layout-components li .handle {
  width: 32px;
  height: 32px;
  float: left;
  margin: -5px;
  margin-right: 5px;
  padding: 2px;
  cursor: move;
  background-repeat: no-repeat;
  background-position: center center;
}

.handle.block {
  background-image: url('images/block-icon.png');
}

.handle.panel {
  background-image: url('images/panel-icon.png');
}

.handle.widget {
  background-image: url('images/widget-icon.png');
}

ul.layout-components .button {
  font-size: 16px;
  line-height: 20px;
  padding: 0 5px;
  float: left;
  margin: 5px;
  margin-right: 0;
}

ul.layout-components li > div {
  top: 0;
  display: block;
  position: relative;
}

ul.layout-components li > .title {
  overflow: hidden;
  top: 0;
  display: block;
  position: relative;
  padding: 5px;
  padding-left: 10px;
}

ul.layout-components li a.btn {
  padding: 0 5px;
  line-height: 18px;
  margin: 6px 10px;
  font-size: 24px;
  float: left;
}

ul.layout-components li .close-icon {
  position: absolute;
  background-color: transparent;
  right: 10px;
  top: 7px;
  float: right;
}

ul.layout-components li .close-icon:hover {
  background-color: transparent;
}

ul.active {
  background-color: #fcc;
}

.dragged {
  position: absolute;
  opacity: .85;
  z-index: 2000;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  transition-property: box-shadow;
  transition-duration: .3s;   
}

ul.layout-components li.placeholder {
  min-height: 34px;
  background-color: transparent;
  border-radius: 2px;
  border: 0px dashed #555;
  display: block;
  z-index: 1;
  background-color: rgba(0,0,0,.5)
}

ul.layout-components li.placeholder:before {
  position: absolute;
}

ul.component {
  margin: 0;
  padding: 5px;
  list-style: none;
  overflow: hidden;
  display: block;
}

ul.component li a img {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 5px;
  left: 5px;
}

ul.component li a p {
  height: 80px;
  margin: 0;
  padding: 10px;
  display: block;
  font-size: 16px;
  text-align: center;
  color: #333;
}

ul.component li a label {
  font-size: 22px;
  float: none;
  display: block;
  margin: 0;
  padding: 20px 10px 15px;
  cursor: inherit;
  font-weight: 300;
  text-align: center;
  color: #000;
}

ul.component li a:hover {
  box-shadow: 0 2px 10px rgba(0,0,0,.45);
}

ul.component li a:hover label {
  color: #39f;
}

ul.component li a:active label,ul.component li a.selected label {
  color: #fff;
  background-color: #39f;
}

ul.component li.selected a {
  box-shadow: 0 1px 6px #39f;
  cursor: default;
}

ul.component li.selected label {
  color: #fff;
  background-color: #39f;
}

ul.component li.selected:hover label {
  color: #fff;
}

ul.errors-list {
  display: block;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: -10px;
  font-size: 16px;
  color: #c00;
  font-weight: 500;
}

ul.errors-list li {
  display: block;
  padding-top: 5px;
}

.row.delimeter {
  margin: 5px;
  margin-bottom: 0;
  padding: 5px;
  border: 1px dashed #aaa;
}

.row label {
  display: block;
  float: none;
}

.toolbar-title {
  margin: 15px 0 10px;
}

.ta-center {
  text-align: center;
}

label {
  line-height: 28px;
  padding: 0;
  font-size: 20px;
  font-weight: 300;
  cursor: default;
  overflow: hidden;
  color: #777;

  > span {
    /*font-weight: 300;*/
    line-height: inherit;
    color: inherit;
  }
}

label.value {
  color: #000;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  padding: 0;
}

.field {
  line-height: 24px;
  min-height: 20px;
  font-size: 16px;
  color: #999;
  background-color: transparent;
  margin: 0;
  border-radius: 0;
  padding-top: 20px;
  padding-bottom: 15px;
  display: block;
  position: relative;

  transition: all .2s ease;
  z-index: 1;

  > label:first-child {
    position: absolute;
    top: 30px;    
    font-weight: 500;
    line-height: 20px;
    font-size: 16px;
    color: #aaa;
    z-index: 2;
    transition: all .2s ease;
  }

  &[focus] > label:first-child , &:not([empty]) > label:first-child {
    top: 5px;
  }

  &[focus] > label:first-child {
    color: #039BE5;
  }
}

label.label-float {
  line-height: 20px;
  padding: 0;
  font-size: 16px;
  font-weight: 500;
  color: #aaa;
  background-color: transparent;
  margin: 24px 0 5px;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  z-index: 3;
}

label.label-float.focused {
  color: #039BE5;
  text-shadow: none;
  margin-top: 0px;
}

.label-float.valued {
  margin-top: 0px; 
}

.label-float-input, .text-field.label-float-input {
  margin-top: 0px;
  margin-bottom: 15px;
  -webkit-transition: padding .3s ease;
  -moz-transition: padding .3s ease;
  -ms-transition: padding .3s ease;
  -o-transition: padding .3s ease;
  transition: padding .3s ease;
  padding-top: 20px;
}

.label-float-input.valued,.label-float-input:focus {

}

.label-float-input.valued,.label-float-input:last-child {
}

textarea.text-field {
  line-height: 20px;
  height: 82px;
}

.text-field, select {
  width: 100%;
  min-height: 38px;
  line-height: 26px;
  padding: 5px 0px;
  /* padding-top: 20px; */
  border: 0 solid rgba(0,0,0,.12);
  border-bottom-width: 2px;
  margin: 0;
  outline: none;
  display: block;
  font-size: 16px;
  font-weight: 400;
  background-color: transparent;
  border-radius: 0;
  transition-property: border-color;
  transition-duration: 300ms;
}

.text-field.Radio {
  background-color: #fff;
  width: auto;
  height: auto;
  min-height: 28px;
  line-height: 28px;
  border: 1px solid #ccc;
  padding: 0;
  padding-right: 4px;
  padding-left: 4px;
  outline: none;
  float: right;
  direction: rtl;
  margin-left: 3px;
  font-size: 16px;
  cursor: pointer;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.text-field.Radio span {
  width: auto;
  min-height: 28px;
  line-height: 28px;
  float: right;
  direction: rtl;
  font-size: 16px;
  cursor: pointer;
}

.text-field.Radio input {
  width: 30px;
  height: 28px;
  line-height: 28px;
  padding: 0;
  padding-right: 4px;
  padding-left: 4px;
  margin: 0;
  margin-right: 10px;
  outline: none;
  float: left;
  cursor: pointer;
}

.text-field:focus, select:focus, select.active, .text-field.active {
  border-color: #039BE5;
  box-shadow: 0 0 3px 0 rgba(0,0,0,.0);

}

.text-field:disabled {
  background-color: rgba(0,0,0,.04);
  border-color: transparent;
  box-shadow: none;
}

.text-field > select {
  width: inherit;
  display: block;
  background: none;
  background-color: #fff;
  height: 22px;
  line-height: 22px;
  padding: 0;
  border: none;
  outline: none;
  font-size: 16px;
}

.btn-white {
  background-color: #eee;
  color: #222;
  text-align: justify;
  white-space: normal;
}

.btn-white.active,.btn-white:active {
  background-color: #eee;
  color: #444;
  text-shadow: none;
  text-shadow: 0 1px 1px #fff;
}

.ExitBtn {
  background-image: url(images/ExitBtn.png);
  background-repeat: no-repeat;
  width: 28px;
  height: 28px;
  float: right;
  margin: 0px 0;
  margin-left: 15px;
  cursor: pointer;
  background-size: cover;
}

.ExitBtn:hover {
  background-position: 0px -28px;
}

.ExitBtn:active {
  background-position: 0 -56px;
}

.green,.green label,.green h1 {
  border-color: #63b900;
  color: #63b900;
}

.report {
  display: block;
  padding: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 15px 0 0 0 ;
}

.report .table-container {
  position: absolute;
  top: 54px;
  bottom: 0;
  left: 10px;
  right: 10px;
  padding: 0;
}

.report .table-container .table-header {
  background-color: #f0f0f0;
  border: 0 solid #ccc;
  border-top: none;
  overflow: hidden;
  padding:0;
  margin-top: 0;
}

.report .table-container .table-header th {

  border: none;
  padding: 6px 10px 0;
  height: 38px;
}

.report .table-container .table-body {
  overflow: auto;
  padding: 0;
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
}

.report .controls {
  display: block;
  padding: 10px 15px;
  overflow: hidden;
  position: absolute;
  top: 0px;
  left: 10px;
  right: 10px;
  height: 54px;
  background-color: #fff;
  border: 0 solid #ccc;
  border-radius: 2px;
  z-index: 3;
}

.report .controls .button {
  height: 34px;
  padding: 0;
  float: right;
  background-image: url(images/controls.png);
  background-repeat: no-repeat;
}

.report .controls .next,.report .controls .previous {
  width: 34px;
}

.report .controls .previous {
  background-position: 0 center;
  margin-right: 5px;
}

.report .controls .next {
  background-position: -30px center;
}

.report .controls .end {
  width: 40px;
}

.report .controls .end.p {
  background-position: -100px center;
}

.report .controls .end.n {
  background-position: -60px center;
}

.report .controls .text-field {
  margin: 0 5px;
}

.report .controls .search-pad {
  float: left;
  width: 400px;
  overflow: hidden;
}

.report .controls .search-pad .text-field {
  width: 300px;
}

.report .controls .search-pad .button {
  width: 30px;
  float: left;
  background-image: none;
}

.report .controls label {
  margin: 3px 0;
}

.data.header {
  background-color: #fff;
  font-size: 16px;
}

.data .btn , .row-block .btn {
  float: left;
  line-height: 14px;
  margin: 0 6px 0 0;
  visibility: hidden;
  background-repeat: no-repeat;
  font-size: 16px;
  border-radius: 2px;
  padding: 6px 12px;
}

.data .btn.delete {
  background-image: url(images/delete.png);
  background-position: 0 0;
  width: 32px;
  height: 32px;
  margin-top: 0;
}

.data .btn.delete:active {
  background-position: 0 -28px;
}

.data .btn.edit {
  background-image: url(images/edit.png);
  background-position: 0 0;
  width: 32px;
  height: 32px;
  margin-top: 0;
}

.data .btn.edit:active {
  background-position: 0 -28px;
}

.data tr:nth-of-type(even) {
  background-color: rgba(0,0,0,.06);
}

.row-block {
  width: 100%;
  height: 44px;
  line-height: 30px;
  padding: 6px 10px;
  text-align: center;
  border: 0px solid rgba(0,0,0,.1);
  overflow: hidden;
  border-radius: 0;
  border-width: 1px 0;
  margin-top: -1px;
}

.row-block:hover {
  border-color: transparent;
  z-index: 2;
  box-shadow: 0 3px 5px 0 rgba(0,0,0,0.12),0 1px 10px rgba(0,0,0,.16);
  background-color: #F55043;
}

.row-block-p {
  float: left;
  padding: 0 10px;
  margin: 0;
  font-weight: 300;
  font-size: 16px;
}

.row-block .btn {
  float: left;
  visibility: visible;
  margin: 0 10px;
}

.data {
  width: 100%;
  border-spacing: 0;
  border: 0 solid #aaa;
  padding: 0;
  text-align: left;
  font-size: 16px;
  border-collapse: separate;

  th {
    cursor: default;
    height: 50px;
    line-height: 50px;
    background-color: transparent;
    padding: 0 10px;
    overflow: hidden;
    font-size: 1.6em;
    font-weight: 300;
    white-space: nowrap;

    &.actions {
      min-width: 80px;
    }
  }

  tr {
    color: #444;
    outline: none;

    &:hover td {
      background-color: #fff;
      color: #000;
      border-color: rgba(0,0,0,.7);
      border-left-width: 0;
      padding-left: 11px;

    }
  }
}

.data th.no {
  min-width: 50px;
  width: 50px;
  max-width: 50px;
}

.data tr:hover td .btn {
  visibility: visible;
}

.data tr.selected td {
  background-color: #ffc;
  color: #000;
}

.data td {
  min-height: 32px;
  line-height: 32px;
  padding: 4px 10px;  
  border: 0 solid transparent;
  border-width: 1px 0;
  font-weight: 500;
}

.data td:not(:first-child), .data th:not(:first-child) {
  border-color: transparent;
  border-left: 1px solid #fff;
}

.glass-pane-lock.data {
  background-color: transparent;
}

table.contents {
  border-spacing: 0;
  width: 100%;
  direction: rtl;
  float: left;
}

table.contents td {
  padding: 5px;
  vertical-align: top;
  max-width: 100px;
  min-width: 100px;
}
.content-item-col-3{
  width: 25%;
  margin: 0;
  padding: 0;
  display: inline-block;
  vertical-align: top;
}

.content-item {
  width: 140px;
  margin-right: 10px;
  margin-bottom: 10px;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  padding: 5px;
  border-radius: 2px;
  font-weight: 600;
  font-size: 16px;
  min-height: 50px;
  cursor: pointer;
  overflow: hidden;
  transition: all .3s;
  position: relative;

  &.image {
    /*    padding: 0;
        width: 100%;
        max-width: 200px;
        margin: 0 15px 30px;
        text-align: left;
        padding: 0;
        padding-bottom: 10px;*/

    .btn-circle {
      opacity: .3;
    }

    &:hover .btn-circle {
      opacity: 1;
    }
  }
}


.content-item:last-child {
}

.content-item p {
  display: block;
  margin: 0;
  padding: 0;
  padding-bottom: 10px;
  overflow: hidden;
  word-wrap: break-word;

  &.date {
    display: block;
    margin: 0;
    padding: 12px 10px 5px;
    direction: ltr;
    color: #aaa;
    font-weight: 500;
  }
}

.content-item:hover {
  box-shadow: 0 3px 5px rgba(0,0,0,0.08),0 2px 9px rgba(0,0,0,0.1);
}

.content-item.selected, .content-item:focus {
  background-color: #fff;
  border-color: transparent;
  box-shadow: 0 5px 14px 0 rgba(0,0,0,0.06),0 8px 20px 0 rgba(0,0,0,0.2);
  outline: none;
}

.content-item.folder span {
  background: url(images/content-icons.png) 0 0 no-repeat;
  display: block;
  margin: 0 auto;
  width: 44px;
  height: 50px;
}

.content-item.article span {
  background: url(images/content-icons.png) -44px 0 no-repeat;
  display: block;
  margin: 0 auto;
  width: 44px;
  height: 50px;
}

.content-item.image img {
  display: block;
  margin: 0 auto;
  max-width: 200px;
  max-height: 300px;
  margin-bottom: 10px;
}

.content-item.ready {
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}

.close-button {
  background-repeat: no-repeat;
  background-position: center center;
  width: 30px;
  height: 30px;
  opacity: .4;
  display: block;
  cursor: pointer;
}

.close-button:hover {
  opacity: .6;
}

.close-button:active {
  opacity: 1;
}

.close-icon {
  background-image: url(images/x-small-icon.png);
  width: 20px;
  height: 20px;
  cursor: pointer;
  opacity: .5;
  background-position: center center;
  background-repeat: no-repeat;
}

.icon {
  width: 20px;
  height: 20px;
  background-position: center center;
  background-repeat: no-repeat;
}

.icon.circle {
  width: 18px;
  height: 18px;
  margin: 1px;
  border-radius: 9px;
  transform: scale(.7);
  background-color: #bbb;
  transition: .2s all;
}

.active > .icon.circle {
  transform: scale(1);
  background-color: #590;
}

.icon.correct {
  background-image: url(images/correct-small-icon.png);
}

.icon.incorrect {
  background-image: url(images/incorrect-small-icon.png);
}

.close-icon:hover {
  opacity: .9;
}

.x-icon {
  background-image: url(images/cross16.png);
}

.uis-icon {
  background-image: url(images/uis-icon.png);
  min-width: 20px;
  min-height: 20px;
  display: block;
}

.link-icon {
  background-image: url(images/link-icon.png);
  min-width: 20px;
  min-height: 20px;
  display: block;
}

div.notification {
  min-height: 40px;
  line-height: 20px;
  margin: 5px 0 0 5px;
  background-color: #ddd;
  display: block;
  padding: 10px 40px 10px 10px;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.18),0 0 8px rgba(0,0,0,.22);
}

div.notification .close {
  margin: -10px 0;
  position: absolute;
  right: 0;
  height: 40px;
  width: 40px;
}

div.notification ul {
  padding: 0;
  margin-bottom: 0;
  list-style: none;
}

div.notification p,div.notification h4 {
  margin: 0;
}

.alert.alert-success {
  background-color: #4CAF50;
  color: #fff;
}

.alert.alert-error {
  background-color: #d20;
  color: #fff;
}

.box {
  display: block;
  padding: 5px 15px;
}

.box-white {
  margin: 15px 0;
  background-color: #fff;
  border-radius: 2px;
}

.box-grey {
  margin: 10px 0;
  background-color: #f0f0f0;
  padding: 15px;
  overflow: hidden;
  height: auto;
}

.box.box-grey h3 {
  margin-bottom: 15px;
}

.box.box-grey .btn-sm {
  line-height: 14px;
  min-height: 20px;
  margin-top: -2px;
  border-radius: 2px;
}

.box.box-grey.disabled {
  height: 50px;
}

.box.box-error {
  padding: 20px;
  color: #c00;
  margin: 15px 0;
  background-color: #fff;
  text-align: center;
  font-size: 1.5em;
}

.box h3 {
  margin: 0;
  font-size: 16px;
}

.box h2 {
  font-size: 1.6em;
  line-height: normal;
  margin: 0;
  padding: 10px 0;
}

.pop-up {
  position: absolute;
  z-index: 10;
  background-color: #fff;
  border: 1px solid #ccc;
  overflow: auto;
  width: 800px;
  min-height: 400px;
  box-shadow: 0 1px 5px #bbb;
  top: 10px;
  left: 50%;
  margin-left: -411px;
  padding: 10px;
}

.vertical {
  position: absolute;
  top: 0;
  bottom: 0;
}

.margin-bottom,.mar-bot {
  margin-bottom: 15px;
}

.row-separator {
  float: left;
  width: 100%;
  padding: 0;
  margin: 0;
}

.different-screens {
  background-image: url(images/different-screens.png);
  background-repeat: no-repeat;
  background-position: center center;
  height: 413px;
  width: 836px;
  display: block;
  float: none;
  margin: 10px auto;
}

.nav-pills > li.dropdown {
  width: 60px;
  margin-left: auto;
  margin-right: auto;
  float: none;

  > a {
    background-image: url(images/side-bar-btn.png);
    background-repeat: no-repeat;
    background-position: center center;
    height: 38px;
  }
}

.nav-tabs {
  padding: 0 10px;
  position: relative;
  z-index: 2;
  margin: 10px 0 0;
}

.popover-content {
  padding: 5px;

  .nav.nav-stacked {
    margin: 0;
    padding: 0;
  }
}

.row > .row {
  margin-left: 15px;
  margin-right: 15px;
}

.multi-row-btn-groups input[type="radio"],multi-row-btn-groups input[type="checkbox"] {
  display: none;
}

body.dragging,body.dragging * {
  cursor: move!important;
}

.buttons-panel {
  bottom: 4px;

  .btn {
    margin-left: 2px;
    padding: 0 4px;
  }
}

.text-icon {
  font-size: 1.12em;
  display: block;
  margin: 0;
  padding: 20px 15px;
  background-color: #fff;
  cursor: default;
  min-height: 40px;
  color: #555;

  &::after {
    content: '';
    display: block;
    height: 1px;
    background-color: #eee;
    margin-top: 20px;
    margin-bottom: -20px;
  }
}

.text-icon:hover {
  color: #000;
  background-color: #eee;
}

.text-icon h1,.text-icon h2,.text-icon h3,.text-icon h4,.text-icon h5,.text-icon h6 {
  padding: 0;
  margin: 0;
  display: block;
  text-align: left;
}

.text-icon p {
  padding: 0;
  margin: 0;
  display: block;  
}

.text-item span {
  color: rgba(0,0,0,.4);
  float: right;
  font-weight: 700;
  font-size: 1.1em;
}

label.small .tag {
  float: left;
  margin: 4px 5px 1px 0;
  font-size: 13px;
  font-weight: 600;
  border-radius: 12px;
  padding: 3px 10px;
  background-color: #e0e9ef;
  color: rgba(#000,.85);

  &:last-child {
    margin-right: 0; 
  }
}

a.link {
  padding: 4px 12px;
  border-radius: 2px;
  color: #fff;
  background-color: #00BCD4;
  line-height: 20px;
  float: left;

  &:hover {
    background-color: #00ACC1;
    text-decoration: none;
  }

  &:active {
    background-color: #006064;
    text-decoration: none;
  }
}

a.link.active,.active > a.link {
  cursor: default;
  background-color: #0097A7;
  text-decoration: none;
}

.btn.btn-hide {
  width: 0;
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
  border-left-width: 0;
  border-right-width: 0;
}

.list-modal {
  background-color: #fff;
  overflow: hidden;
  position: fixed;
  width: 400px;
  top: 0;
  bottom: 0;
  z-index: 10;
  box-shadow: 10px 0 20px rgba(0,0,0,0.19), 5px 0 6px rgba(0,0,0,0.23);

  > h1 {
    overflow: hidden;
    position: absolute;
    top: 0;
    height: 30px;
    font-size: 19px;
    font-weight: bold;
    padding: 0 15px;
    line-height: 30px;
    margin: 0;
    width: 100%;
  }

  > .content-pane {
    overflow: auto;
    position: absolute;
    top: 30px;
    bottom: 0;
    padding-bottom: 5px;
    width: 100%;
  }
}

.tab-content.fix {
  position: absolute;
  top: 0;
  bottom: 0;
  overflow-y: auto;
  z-index: 1;
}

.tab-content.fix .tab-pane .row {
  margin-left: 0;
  margin-right: 0;
}

.tab-content.fix .tab-pane .row > div {
  padding: 0 5px;
}

.tab-content.fix .tab-pane .row > div > div {
  padding: 0;
}

.nav-sm li a {
  padding: 4px 8px;
  margin-top: 12px;
  font-size: 13px;
  min-height: 28px;
}

.options-panel > .btn {
  margin: 2px;
  padding: 10px 8px;
  float: left;
  letter-spacing: 1px;
  border-radius: 0px;
  font-weight: 500;
}

li h3.icon-header {
  margin: 0;
  margin-bottom: 0px;
  margin-left: 25px;
}

.nav-blue-grey {
  background-color: #78909C;
}

.nav-black-text {
  background-color: #fff;
  font-size: 1.2em;
  padding-left: 25px;
  font-weight: 400;
}

.nav-black-text > li > a{
  color: #777;
  font-weight: 400;
  line-height: 24px;
}

.nav-black-text > li.active > a {
  color: #1B2433;
  border-color: #1B2433;
}

.nav-black-text > li > a:hover,.nav-black-text > li > a:focus {
  background-color: rgba(0,0,0,.06);
  color: inherit;
  outline: none;
}

.nav-black-text > li.active > a:hover , .nav-black-text > li.active > a:focus {
  background-color: rgba(0,0,0,.06);
  border-color: #1B2433; 
  color: inherit;
}

.nav-pills > li {
}

.line-header {
  margin: 15px 0 5px;
}

.tab-pane > .row:first-child, .tab-pane > form > .row:first-child {
  margin-top: 15px;
}

.ct-editor-container {   
  height: 100%;   
  position: absolute !important;   
  width: 100%;
}

.ct-content-container {   
  position: absolute;   
  top: 0;   
  bottom: 0;   
  width: 100%;
}

.form-title {
  margin: 15px 0 0;
  font-size: 1.8em;
}

.anim-scale-in {   
  transition: transform .5s;
  transform: scale(0);
}

.anim-scale-in.in {   
  transform: scale(1);
}

.anim-fade-in {
  transition: opacity .5s;
  opacity: 0;
}

.anim-fade-in.in {
  opacity: 1;
}

.slide-out {
  width: 0;
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin-left: 0;
  margin-right: 0;
  border-left-width: 0 !important;
  border-right-width: 0 !important;
}

.trans-slide-vertical {
  height: 0;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  margin-top: 0;
  margin-bottom: 0;
  border-top-width: 0 !important;
  border-bottom-width: 0 !important;
}

.elements-list {
  min-height: 200px;
  margin: 0;
  padding: 15px;
  position: relative;
  float: left;
  width: 100%;
}

.uis-editor-preview-pane {
  background-color: #fff;
  position:absolute;
  left:400px;
  top:0;
  bottom:0;
  right: 0;
  overflow: hidden;
}

.uis-editor-preview-pane iframe {
  position:absolute;
  border:none;top:0px;
  left:0px;
  min-width:410px;
  width:1920px;
  height:100%;
  overflow:scroll;
  padding:0px;
}

.uis-editor-tool-pane {
  float: left;
  height: 100%;
  position: relative;
  width: 400px;
  overflow: auto;
}

.uis-editor-tool-pane .nav-pills {
  background-color: #0097a7;
}

.mt {
  margin-top: 15px;
}

.mt\+ {
  margin-top: 30px;
}

.mb {
  margin-bottom: 15px;
}
.mb\+ {
  margin-bottom: 30px;
}

.input-number button {
  float: right;
  margin: 0px 5px;
  width: 30px;
  font-size: inherit;
  line-height: inherit;
}



.priority-1 {
  right: 180px;
}

.priority-2 {
  right: 245px;
}

system-list, dis-block {
  display: block;
}

system-input-json {
  //box-shadow: 0 2px 3px rgba(0,0,0,.1), 0 5px 9px rgba(0,0,0,.1);
  display: block;
  margin: 0;
  border-radius: 3px;
  overflow: hidden;
  background-color: #fff;
  border: 1px solid #dadada;  
  box-shadow:0 1px 3px rgba(0,0,0,0.1);
  font-size: 16px;

  p {
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-bottom: 1px solid #dadada;

    system-input-json {
      float: left;

      &.value {
        width: 98%;
        border-left-color: #dadada; 
        margin: 0px 0 10px 1%;
      }
    }

    &:last-child {
      border-bottom: none;
    }

    input {
      background: transparent;
      padding: 10px;
      border: none;
      float: left;

      &:focus {
        outline: none;
        background-color: #f0f0f0;
      }
    }

    .name {
      font-weight: bold;
      width: 35%;      
    }

    .value {
      width: 65%;
      border-left: 1px solid #eee;  
    }
  }
}

.options-panel {
  overflow: hidden;
  min-height: 50px;
}

system-ui-view {
  display: block;
}

system-spirit {
  display: block;
  position: relative;
}

.zoom-out {
  /*opacity: 0.01;*/
  transform: scale(0);
}