/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 14, 2015, 12:56:29 PM
    Author     : Eeliya
*/
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,700);
@import "widgets.scss";

@media (min-width: 1px) and (max-width: 991px) {
  .panel.width-960 {
    width: 600px;
    margin: 0 auto;
  }

  .panel.header {
    width: 580px;
  }

  .timer .days-wrapper,
  .timer .hours-wrapper,
  .timer .minutes-wrapper,
  .timer .seconds-wrapper {
    width: 100px;
    height: 100px;
    font-size: 50px;
    font-size: .8em;
  }

  .timer .days,
  .timer .hours,
  .timer .minutes,
  .timer .seconds {
    font-size: 50px;
    line-height: 50px;
    margin-top: 15px;
    margin-bottom: -35px;
  }
}

@media (min-width: 992px) {
  .panel.width-960 {
    width: 960px;
    margin: 0 auto;

  }

  .panel.header {
    width: 900px;
  }

  .timer .days-wrapper,
  .timer .hours-wrapper,
  .timer .minutes-wrapper,
  .timer .seconds-wrapper {
    width: 140px;
    height: 140px;
  }

  .timer .days,
  .timer .hours,
  .timer .minutes,
  .timer .seconds {
    font-size: 60px;
    line-height: 60px;  
    margin-top: 30px;
    margin-bottom: -30px;
  }
}

@media (min-width: 1360px) {
  .panel.header {
    width: 1080px;
  }

  .timer .days-wrapper,
  .timer .hours-wrapper,
  .timer .minutes-wrapper,
  .timer .seconds-wrapper {
    width: 160px;
    height: 160px;
  }

  .timer .days,
  .timer .hours,
  .timer .minutes,
  .timer .seconds {
    display: block;
    font-size: 80px;
    line-height: 80px;   
    margin-top: 30px;
    margin-bottom: -30px;
    position: relative;
  }
}

html {
  position: relative;
} 

html,body{
  font-family: 'Source Sans Pro', sans-serif, Tahoma;
  padding:0px;
  font-size:1.2em;
  min-height: 100%;   
}

body {
  background-color: #ddd;
  overflow-x: hidden;
  overflow-y: auto;
}

.panel.header {
  background-color: #fff;
  padding:15px;
  border-bottom:0px solid rgba(0,0,0,.35);
  min-height:70px;
  box-shadow:0px 5px 7px rgba(0,0,0,.03), 0 5px 15px rgba(0,0,0,.1);
  position: relative;
  z-index: 10;
  margin: 0 auto;

  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}

.container {
  width:100%;
  padding-bottom: 100px;
}
.block.section {
  background-color: #f7f7f7;
  padding:0px;
  z-index: 2;
  position: relative;
}

.block.middle {
  background-color: #f7f7f7;
  padding-bottom: 75px;
  box-shadow:0px 3px 7px rgba(0,0,0,.14), 0 8px 18px rgba(0,0,0,.1);
  z-index: 1;
}

.section p {
  font-weight:300;
}

.section h1{
  font-weight: normal;
}

.block.footer {
  background-color:#ddd;
  padding:15px;
  min-height:100px;
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: .8em;
  color:#555;
  padding-top: 35px;
  margin-top: -20px;
  z-index: 0;
}

.block.footer p {
  margin: 5px 0;
}

.section.box, .panel.box, .widget.box {
  background-color: #fff;
  border:2px solid #222;
  padding:15px;
  box-shadow:0px 2px 3px rgba(0,0,0,.2);
}

.panel.section {
  background-color: #fff;
  border:0px solid rgba(0,0,0,.35);
  border-width:0px 0px;
  margin: 0 auto;
  padding: 0;
  float: none;
  display: block;
  box-shadow:0px 1px 3px rgba(0,0,0,.14), 0 2px 5px rgba(0,0,0,.1);
  border-radius: 8px;
}

.panel.section:last-child {
}

.panel.margin-top {
  margin-top: 30px;
}

.widget.menu-bar{} 
.menu-bar ul{list-style:none;margin:0px;overflow:hidden;padding:0;}
.menu-bar li{float:left;margin-right:10px;}
.menu-bar li.active a,.menu-bar a.active {
  background-color: #222;
  color: #fff;  
}

.menu-bar a {
  display:block;
  padding:3px 15px;
  line-height:30px;
  border-radius:18px;
  color:#222;
  text-transform: uppercase;
}

.menu-bar a:hover{background-color:#ddd;}

.timer .days-wrapper,
.timer .hours-wrapper,
.timer .minutes-wrapper,
.timer .seconds-wrapper {
  display: inline-block;  
  margin: 0 10px;
  text-align: center;
  color: #fff;/* browsers that don't support rgba */
  /* background: rgba(45,45,45,.7); */
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  box-shadow: 0 3px 5px rgba(0,0,0,.12), 0 1px 14px rgba(0,0,0,.16);
  position: relative;
  z-index: 1;
}

.timer .days-wrapper:after,
.timer .hours-wrapper:after,
.timer .minutes-wrapper:after,
.timer .seconds-wrapper:after{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: inherit;
  left: 0;
  top: 0;
  border-radius: inherit;
  z-index: -1;
}

.timer .days-wrapper{
  background-color: #33ccff;
}
.timer .hours-wrapper{
  background-color: #94d100;
}
.timer .minutes-wrapper{
  background-color: #ff7200;
}

.timer .seconds-wrapper{
  background-color: #111;
}

.timer .seconds-wrapper:after{
  animation: ripple 1s infinite;   
}

.timer .days-wrapper:hover,
.timer .hours-wrapper:hover,
.timer .minutes-wrapper:hover,
.timer .seconds-wrapper:hover {
  /* background: #e75967 url(../img/pattern-2.png); */
  text-shadow: none;
}

.timer .days,
.timer .hours,
.timer .minutes,
.timer .seconds {
  display: block;
  position: relative;
}

@keyframes ripple {
  from {
    transform:scale(1); 
  }

  to {
    transform: scale(1.5);
    opacity:0;
  }
}