@charset "utf-8";
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 14, 2015, 1:42:35 AM
    Author     : Mohammad
*/

@font-face {
   font-family: 'nazanin';
   src: local('BNazanin.eot'), local('BNazanin.woff'), url('BNazanin.ttf');
}
body {
    margin: 0px;
	background-image:url(img/bg.jpg);
	font-family:nazanin;
   }
.panel.logo{
  background-image: url(img/EW_LOGO.png);
  width:100px;
  height:65px;
  margin-left:35px;
  margin-top:5px;
  background-size:contain;
  background-repeat:no-repeat;
}

.block.header{ width:100%;height:75px;background-color:#34495e;box-shadow:0px 0px 5px 0px rgba(0,0,0,.2);overflow:hidden;}
.block.menu-container{display:block;min-height:60px;background-color:rgba(0,0,0,.5);position:fixed;width:100%;z-index:10;} 
.widget.menu-bar > ul{font-size:1.3em;color:#fff;list-style:none;margin:0px;overflow:hidden;}
.widget.menu-bar > ul  li{float:right;width:120px; text-align:center; font-family: nazanin; font-size:20px;}
.widget.menu-bar > ul li a{display:block;color:#fff;padding:25px 10px;line-height:30px;font-weight:600;}
.widget.menu-bar > ul li a:hover{background-color:#5d9cec;}
.widget.menu-bar > ul li.active a{background-color:rgba(0,0,0,.3);color:#ddd;}

.block.slider{ 
  width:100%;
  height:340px;
  /*background-color:#ACACAC;*/
  box-shadow:0px 0px 5px 0px rgba(0,0,0,.2);
  overflow:hidden;
  margin-top:10px;
  background-image: url(img/groovepaper.png);
 /* cursor: pointer; */


}  
.widget.slider-text1{
	font-size:24px;
	font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	font-weight:400;
	text-align:left;
	margin-bottom:-35px;
}
.widget.slider-text2{
	font-size:24px;
	font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	font-weight:400;
	text-align:center;
	margin-bottom:-20px;
}
.widget.slider-text3{
	font-size:24px;
	font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	font-weight:400;
	text-align:right;
	margin-bottom:-35px;
}



.block.specificity-block{ 
  width:100%;
  height:40px;
  background-color: transparent;
  overflow:hidden;
  margin-top:20px;
  border-radius:15px;
}  	
.block.specificity-item{ 
  width:100%;
  height:90px;
  background-color:#242424;
  overflow:hidden;
  margin-top:10px;
  border-radius:15px;
}

.block.customer-block{ 
  width:100%;
  height:40px;
  overflow:hidden;
  margin-top:20px;
  border-radius:15px;
}
.block.customer-item{ 
  width:100%;
  height:90px;
  background-color:#242424;
  box-shadow:0px 0px 5px 0px rgba(0,0,0,.2);
  overflow:hidden;
  margin-top:10px;
  border-radius:15px;
}
.widget.custumer-text{
  font-size:17px;
  color:#333333;
  font:nazanin;
  font-weight:600;
  position: absolute;
  right:20px;
  top:-17px;
}
.widget.specificity-text{
  font-size:17px;
  color:#333333;
  font-family:nazanin;
  font-weight:600;
  position: absolute;
  right:20px;
  top:-17px;
  background-color:transparent;
}
.block.download-area{ 
  width:100%;
  height:150px;
  overflow:hidden;
  margin-top:50px;
}

.widget.download-area-text-button{
  width:200px;
  height:60px;
  border-radius:30px;
  background-color:#7cc576;
  position: absolute; 
  left:500px;
  top:5px;
  cursor: pointer; 
}
.widget.download-area-text-button:hover{
    background-color:#17AC44;
}
.widget.download-area-text-button p{
  font-size:25px;
  font-family:nazanin;
  font:nazanin;
  position:relative;
  top:-10px;
  text-align:center;
}
.block.social{
  width:50%;
  height: auto;
  margin-bottom:50px;
	
}
.block.footer{
  width:100%;
  height:50px;
  background-color:#2c3e50;
  box-shadow:0px 0px 5px 0px rgba(0,0,0,.2);
  overflow:hidden;
  margin-top:10px;
}

.widget.footer-left {
  color:#FFFFFF;
  font-size:18px;
  font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
  float:left;
}
.widget.footer-right {
  color:#FFFFFF;
  font-size:18px;
  font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
  float:right;
}

/*
.widget.team-members .list-content .item{text-align:center; left:150px; padding-top:5px;}
.widget.team-members .list-content .item *{transition: all .24s ease}
.widget.team-members .list-content .item h3{}
.widget.team-members .list-content .item img{display:block;margin:0px auto;width:100%;max-width:70px;max-height:80px;box-shadow:0px 2px 8px -1px rgba(0,0,0,.3);}
.widget.team-members .list-content .item p{
	display:block !important;
	}
.widget.team-members .list-content .item:hover img{box-shadow:0px 2px 10px -1px #D9D4D4;}
.widget.team-members .list-content .item:hover p{border-radius:0px;margin-top:1px;background-color:#FFFFFF;color:#fff;}
.panel.content-margin{}
*/
.panel.fb-icon{
	background-image: url(img/facebook.png);
	background-repeat: no-repeat;
	padding-top: 45px;
	left:475px;
}

.panel.gplus-icon{
	background-image: url(img/google.png);
	background-repeat: no-repeat;
	padding-top: 45px;
	left:575px;
	bottom:45px;

}
.panel.link-icon{
	background-image: url(img/linkedin.png);
	background-repeat: no-repeat;
	padding-top: 45px;
	left:675px;
	bottom:90px;

}
.panel.link-icon:hover{
	background-image: url(img/linkedinhover.png);
}
.panel.gplus-icon:hover{
	background-image: url(img/googlehover.png);
}

.panel.fb-icon:hover{
	background-image: url(img/facebookhover.png);

}
/*  ABout Us */  	 

.block.about-us-block{ 
  width:100%;
  overflow:hidden;
  margin-top:10px;
}
.widget.divider{
  height:2px;
  width:100%;
  background-color:#000000;
	}
.widget.about-us-text{
  font-size:17px;
  color:#333333;
  font:nazanin;
  font-weight:600;
  text-align:right;
}
.widget.about-us-main-text{
	font-family:nazanin;
	font-size:21px;
	padding:0px;
	text-align:right;
    min-height:10px;
}
	
.widget.about-us-img{float:right; margin-top:-65px; margin-right:75px;     
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  transition-property: transform;
}	
.widget.about-us-img:hover{
  -webkit-transform:rotate(360deg);
  -moz-transform:rotate(360deg); 
  -o-transform:rotate(360deg);
}
.block.our-skills-block{
  font-size:17px;
  color:#333333;
  font:nazanin;
  font-weight:600;
  text-align:right;
  padding-bottom:50px;
	}
.widget.our-skills-text{
  font-size:17px;
  color:#333333;
  font:nazanin;
  font-weight:600;
  text-align:right;
	}	


.widget.our-skills .list-content .item{text-align:center; padding-top:50px; padding-bottom:60px;}
.widget.our-skills .list-content .item *{transition: all .8s ease}
.widget.our-skills .list-content .item h3{}
.widget.our-skills .list-content .item img{display:block;margin:0px auto;width:100%;max-width:150px;max-height:150px;border-radius:150px;box-shadow:0px 2px 8px -1px rgba(0,0,0,.3);}
.widget.our-skills .list-content .item p{max-width:250px;margin:20px auto;background-color:#eee;border-radius:25px;padding:10px 20px;height:50px;line-height:30px;overflow:hidden;box-shadow:0px 1px 2px -1px rgba(0,0,0,.5); font-size:20px; font-weight:600;}
.widget.our-skills .list-content .item:hover img{
  -webkit-transform:rotate(360deg);
  -moz-transform:rotate(360deg); 
  -o-transform:rotate(360deg); }
.widget.our-skills .list-content .item:hover p{border-radius:25px;margin-top:1px;background-color:#2980b9;color:#fff;}
	


