@font-face {
  font-family: 'FarNazaninBold';
  src: url('fonts/FarNazaninBold.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FarNazaninBold';
  src: url(data:application/x-font-woff;charset=utf-8;base64,) format('woff'), url('fonts/FarNazaninBold.ttf') format('truetype'), url('fonts/FarNazaninBold.svg#FarNazaninBold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'si';
  src: url('fonts/socicon.eot');
  src: url('fonts/socicon.eot?#iefix') format('embedded-opentype'),
  url('fonts/socicon.woff') format('woff'),
  url('fonts/socicon.ttf') format('truetype'),
  url('fonts/socicon.svg#icomoonregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: 'si';
    src: url(fonts/socicon.svg) format('svg');
  }
}
