/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 21, 2016, 11:47:41 AM
    Author     : Eeliya
*/
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,700);
@font-face {
  font-family: 'FarNazaninBold';
  src: url("fonts/FarNazaninBold.eot") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'FarNazaninBold';
  src: url(data:application/x-font-woff;charset=utf-8;base64,) format("woff"), url("fonts/FarNazaninBold.ttf") format("truetype"), url("fonts/FarNazaninBold.svg#FarNazaninBold") format("svg");
  font-weight: normal;
  font-style: normal; }
@media (min-width: 768px) {
  .panel.section {
    width: 720px; } }
@media (min-width: 992px) {
  .panel.section {
    width: 940px; } }
@media (min-width: 1360px) {
  .panel.section {
    width: 1200px; } }
body {
  font-family: 'Roboto', 'FarNazaninBold';
  font-size: 17px;
  position: relative; }

.content-box, .widget.nav-menu ul, .widget.nav-menu-footer ul {
  padding: 0;
  margin: 0; }

.container {
  width: 100%; }

.block.nav-bar {
  background-color: rgba(255, 255, 255, 0.82);
  height: 80px;
  margin: 0px 0;
  display: block;
  position: absolute;
  top: 0;
  z-index: 10; }

.block.float.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; }

.block.section {
  position: relative;
  padding-bottom: 60px; }

.block.content {
  margin-top: 120px;
  padding-bottom: 120px;
  direction: rtl;
  font-size: 1.3em; }
  .block.content h2 {
    font-size: 1.8em;
    font-weight: 300; }

.block.daily-quote {
  background-image: url("images/daily-feed.jpg");
  background-position: center center;
  background-size: cover; }

.block.text {
  background-color: #eee;
  text-align: center;
  font-size: 1.4em;
  padding: 20px 0; }
  .block.text h1 {
    font-weight: 500;
    margin: 5px 0;
    font-size: 2.3em; }
  .block.text h3 {
    font-weight: 500;
    margin: 15px 0; }

.block.contact-us {
  background-image: url(images/bg-1.jpg);
  background-attachment: fixed;
  background-size: contain;
  background-position: center;
  position: relative;
  margin-top: 45px;
  padding: 60px 0;
  color: #fff;
  font-weight: 300; }
  .block.contact-us h1 {
    font-weight: 300;
    margin: 0;
    font-size: 2.6em; }
  .block.contact-us p {
    font-size: 1.5em; }

.contact-us:before {
  position: absolute;
  content: '';
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.36); }

.block.light-grey {
  background-color: #eee; }

.block.footer {
  background-color: #ddd;
  min-height: 150px;
  padding: 0px 0 0px; }
  .block.footer h2 {
    margin: 0 0 15px;
    padding: 0 10px; }

.panel.clearfix {
  margin: 0 auto; }

.widget.title {
  font-size: 1.35em; }

.title h1 {
  margin: 90px auto 0; }

.widget.text-center {
  text-align: center; }

.widget.nav-menu {
  font-size: 1.2em;
  overflow: hidden; }
  .widget.nav-menu ul {
    list-style: none;
    text-transform: uppercase; }
    .widget.nav-menu ul li {
      float: left; }
  .widget.nav-menu a {
    color: #444;
    font-weight: normal;
    padding: 15px;
    line-height: 50px;
    display: block; }
  .widget.nav-menu .active > a, .widget.nav-menu a.selected {
    background-color: #69C923;
    color: #fff; }

.rtl .widget.nav-menu ul li {
  float: right; }

.widget.right.nav-menu {
  float: right; }
  .widget.right.nav-menu ul li {
    float: right; }

.widget.nav-menu-footer {
  font-size: 1.5em;
  overflow: hidden; }
  .widget.nav-menu-footer ul {
    list-style: none;
    text-transform: uppercase; }
    .widget.nav-menu-footer ul li {
      padding: 10px;
      line-height: 30px; }
  .widget.nav-menu-footer a {
    color: #444;
    font-weight: 300; }
  .widget.nav-menu-footer .active > a, .widget.nav-menu-footer a.selected {
    color: #69C923; }

.rtl .widget.nav-menu-footer ul li {
  text-align: right; }

.widget.right.nav-menu-footer {
  float: right; }
  .widget.right.nav-menu-footer ul li {
    float: right; }

.widget.slider {
  margin: 0 -15px;
  height: 100%;
  position: relative; }
  .widget.slider .item h2 {
    font-size: 3em;
    color: #fff;
    position: absolute;
    top: 120px;
    width: 100%;
    text-align: center;
    text-shadow: 0 0 7px rgba(0, 0, 0, 0.9); }

.slider .owl-controls {
  margin: 0;
  margin-top: -30px;
  height: 30px;
  position: relative;
  z-index: 10; }

.slider .owl-stage-outer {
  height: 100% !important; }

.slider .owl-carousel, .slider .owl-stage, .slider .owl-item {
  height: 100%; }

.slider img {
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  position: absolute; }

.widget.daily-quote {
  margin: 0;
  padding-top: 60px;
  color: #fff;
  z-index: 1;
  text-align: center;
  font-size: 1.2em;
  font-weight: 300; }

.widget.list-col-3 {
  margin: 45px 0; }
  .widget.list-col-3 .list-item-cell {
    background-color: #eee;
    min-height: 400px;
    overflow: hidden;
    padding: 15px;
    border-bottom: 3px solid #69C923;
    position: relative;
    color: #444;
    text-align: center; }
    .widget.list-col-3 .list-item-cell .front-image {
      width: 100%;
      max-height: 220px;
      display: block;
      margin: 0 auto 20px; }
    .widget.list-col-3 .list-item-cell .title {
      font-size: 1.5em;
      margin: 0; }
    .widget.list-col-3 .list-item-cell h2 {
      font-weight: 500; }
    .widget.list-col-3 .list-item-cell a {
      width: 100%;
      display: block;
      color: #69C923;
      position: absolute;
      bottom: 0;
      padding: 15px 0;
      left: 0;
      font-weight: 500;
      text-align: center;
      transition: all .3s; }
    .widget.list-col-3 .list-item-cell a:hover {
      background-color: #69C923;
      color: #fff; }

.widget.people {
  position: relative;
  text-align: center;
  margin: 30px 0;
  padding: 20px 15px; }
  .widget.people * {
    position: relative;
    z-index: 1; }
  .widget.people h2 {
    font-weight: normal;
    color: #69C923; }
  .widget.people img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #fff;
    margin: 15px auto;
    display: block;
    overflow: hidden;
    border: 10px solid #fff;
    transition: all .3s; }

.rtl h2 {
  text-align: right; }

.people:before {
  content: '';
  position: absolute;
  background-color: #fff;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  transition: all .3s;
  z-index: 0;
  margin-left: -100px;
  left: 50%;
  top: 35px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1), 0 5px 9px rgba(0, 0, 0, 0.1); }

.people:hover:before {
  width: 100%;
  height: 100%;
  border-radius: 16px;
  margin-left: 0;
  left: 0;
  top: 0; }

.people:hover img {
  transform: scale(1.2); }

.widget.contact-us-form {
  display: block;
  font-weight: 300;
  font-size: 1.3em; }
  .widget.contact-us-form .text-field {
    width: 100%;
    display: block;
    border: none;
    padding: 10px 15px;
    background-color: #fff;
    border: 2px solid transparent; }
  .widget.contact-us-form .text-field:focus {
    border-color: #69C923;
    outline: none; }
  .widget.contact-us-form label {
    display: block;
    padding-bottom: 5px; }
  .widget.contact-us-form .block-row {
    padding: 5px 10px; }

.widget.google-map {
  width: 100%;
  height: 450px;
  display: block; }
  .widget.google-map .map-container {
    width: 100%;
    height: 100%;
    display: block; }

.block-row {
  display: block; }

.block-row:before, .block-row:after {
  content: " ";
  display: table; }

.block-row:after {
  clear: both; }

/*# sourceMappingURL=template.css.map */
