/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 21, 2016, 11:47:41 AM
    Author     : Eeliya
*/
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,700);
@font-face {
  font-family: 'FarNazaninBold';
  src: url("fonts/FarNazaninBold.eot") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'FarNazaninBold';
  src: url(data:application/x-font-woff;charset=utf-8;base64,) format("woff"), url("fonts/FarNazaninBold.ttf") format("truetype"), url("fonts/FarNazaninBold.svg#FarNazaninBold") format("svg");
  font-weight: normal;
  font-style: normal; }
@media (min-width: 768px) {
  .panel.section {
    width: 720px; } }
@media (min-width: 1024px) {
  .panel.section {
    width: 960px; } }
@media (min-width: 1280px) {
  .panel.section {
    width: 1200px; } }
body {
  font-family: 'Roboto', 'FarNazaninBold';
  font-size: 17px;
  position: relative; }

.content-box, .widget.nav-menu ul, .widget.nav-menu-footer ul {
  padding: 0;
  margin: 0; }

.container {
  width: 100%; }

.block.nav-bar {
  background-color: rgba(0, 0, 0, 0.32);
  height: 80px;
  margin: 30px 0;
  display: block;
  position: absolute;
  top: 0;
  z-index: 10; }

.block.float.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; }

.block.section {
  position: relative; }

.block.daily-quote {
  background-image: url("images/daily-feed.jpg");
  background-position: center center;
  background-size: cover; }

.block.text {
  background-color: #eee;
  text-align: center;
  font-size: 1.4em;
  padding: 20px 0; }
  .block.text h1 {
    font-weight: 500;
    margin: 5px 0;
    font-size: 2.3em; }
  .block.text h3 {
    font-weight: 500;
    margin: 15px 0; }

.block.contact-us {
  margin: 45px 0; }

.block.light-grey {
  background-color: #eee; }

.block.footer {
  background-color: #ddd;
  min-height: 150px;
  padding: 20px 0 50px; }
  .block.footer h2 {
    margin-bottom: 0;
    padding: 0 10px; }

.panel.clearfix {
  margin: 0 auto; }

.widget.title {
  font-size: 1.35em; }

.title h1 {
  margin: 45px auto 0; }

.widget.text-center {
  text-align: center; }

.widget.nav-menu {
  font-size: 1.2em;
  overflow: hidden; }
  .widget.nav-menu ul {
    list-style: none;
    text-transform: uppercase; }
    .widget.nav-menu ul li {
      float: left;
      padding: 15px;
      line-height: 50px; }
  .widget.nav-menu a {
    color: #fff;
    font-weight: 500; }
  .widget.nav-menu .active > a, .widget.nav-menu a.selected {
    color: #0BB4D1; }

.rtl .widget.nav-menu ul li {
  float: right; }

.widget.right.nav-menu {
  float: right; }
  .widget.right.nav-menu ul li {
    float: right; }

.widget.nav-menu-footer {
  font-size: 1em;
  overflow: hidden; }
  .widget.nav-menu-footer ul {
    list-style: none;
    text-transform: uppercase; }
    .widget.nav-menu-footer ul li {
      padding: 10px;
      line-height: 20px; }
  .widget.nav-menu-footer a {
    color: #666;
    font-weight: 300; }
  .widget.nav-menu-footer .active > a, .widget.nav-menu-footer a.selected {
    color: #0BB4D1; }

.rtl .widget.nav-menu-footer ul li {
  float: right; }

.widget.right.nav-menu-footer {
  float: right; }
  .widget.right.nav-menu-footer ul li {
    float: right; }

.widget.slider {
  border: 0px solid red;
  margin: 0 -15px; }

.slider .owl-controls {
  margin: 0;
  margin-top: -30px;
  height: 30px;
  position: relative;
  z-index: 10; }

.slider img {
  width: auto;
  max-width: 100%;
  height: auto; }

.widget.daily-quote {
  margin: 0;
  padding: 45px 15px;
  color: #fff;
  z-index: 1;
  text-align: center;
  font-size: 1.2em;
  font-weight: 300; }

.widget.list-col-3 {
  margin: 45px 0; }
  .widget.list-col-3 .list-item-cell {
    background-color: #ddd;
    min-height: 450px;
    overflow: hidden;
    padding: 15px;
    border-bottom: 3px solid #0BB4D1;
    position: relative;
    color: #666; }
    .widget.list-col-3 .list-item-cell h2 {
      font-weight: 500; }
    .widget.list-col-3 .list-item-cell a {
      width: 100%;
      display: block;
      color: #000;
      position: absolute;
      bottom: 0;
      padding: 15px 0;
      left: 0;
      font-weight: 500;
      text-align: center;
      transition: all .3s; }
    .widget.list-col-3 .list-item-cell a:hover {
      background-color: #0BB4D1;
      color: #fff; }

.widget.people {
  position: relative;
  text-align: center;
  margin: 45px 0;
  padding: 20px 15px; }
  .widget.people * {
    position: relative;
    z-index: 1; }
  .widget.people h2 {
    font-weight: normal;
    color: #0BB4D1; }
  .widget.people img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #fff;
    margin: 15px auto;
    display: block;
    overflow: hidden;
    border: 15px solid #fff; }

.people:before {
  content: '';
  position: absolute;
  background-color: #fff;
  width: 200px;
  height: 200px;
  border-radius: 100%;
  transition: all .3s;
  z-index: 0;
  margin-left: -100px;
  left: 50%;
  top: 35px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1), 0 5px 9px rgba(0, 0, 0, 0.1); }

.people:hover:before {
  width: 100%;
  height: 100%;
  border-radius: 5%;
  margin-left: 0;
  left: 0;
  top: 0; }

/*# sourceMappingURL=template.css.map */
